@font-face {
	font-family: "nanumhandword";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('../font/nanumhandword.eot');
	src: local('../font/nanumhandword'),
		url('../font/nanumhandword.eot?#iefix') format('embedded-opentype'),
		url('../font/nanumhandword.woff2') format('woff2'),
		url('../font/nanumhandword.woff') format('woff')
}

