/* main -> step_3 공통 */
@media all {
	.ko_snd {
		position: relative;
		display: inline-block;
		width: 106px;
		height: 106px;
		background: url(../img/common/speakerBtn.png) no-repeat 0 0;
	}

	.question_basic_box {
		position: relative;
		margin: 0 auto;
		padding: 10px 20px;
		width: 100%;
		height: auto;
		border-radius: 20px;
		text-align: center;
		background: rgba(255, 255, 255, 0.75);
		top: -20px;
	}

	.question_basic_box p {
		padding: 5px 10px;
		font-weight: 500;
		font-size: 28px;
	}

	.sub_question {
		
	}
	.sub_question.green{
		font-size: 32px;
		font-weight: 600;
		color: #fff;
		min-height: 90px;
		border: 3px solid #155e3f;
		background: #2c835e;
		box-shadow: inset 5px 4px 0px 0px rgb(135 184 163);
	}
	.sub_question.green_border{
		border: 3px solid #155e3f;
	}
}

/* 단원 간지/들어가기 */
@media all {

	/* 단원간지 start */
	.quiz[data-open="danwon_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/danwon_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.danwon_title {
		position: relative;
		display: inline-block;
		padding: 9px 17px 9px 58px;
		top: -50px;
		left: 66px;
		width: 229px;
		color: #325697;
		line-height: 1;
		border-radius: 20px;
		border: 4px solid #325697;
		background: #fff;
	}

	.danwon_title p {
		margin: 0 0;
		font-weight: 700;
		font-size: 38px;
		text-align: center;
	}

	.danwon_title::before {
		display: inline-block;
		position: absolute;
		content: '';
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		width: 42px;
		height: 39px;
		background: url(../img/quiz/ganji/danwon_title_bullet.png) no-repeat 0 0;
	}

	.quiz .danwon_left {
		position: absolute;
		top: 543px;
		left: -72px;
		width: 241px;
		height: 229px;
		background: url(../img/quiz/ganji/danwon_img01.png) no-repeat 0 0;
		animation: left_start 1.5s ease-in-out forwards;
	}

	.quiz .danwon_right {
		position: absolute;
		top: 505px;
		left: 1005px;
		width: 349px;
		height: 305px;
		background: url(../img/quiz/ganji/danwon_img02.png) no-repeat 0 0;
		animation: right_start 1.5s ease-in-out forwards;
	}

	.quiz .langT {
		/* position: relative; */
		/* display: flex; */
		/* top: 0px; */
		/* left: 139px; */
		/* width: 888px; */
		/* height: 347px; */
		/* justify-content: center; */
		/* align-items: center; */
		/* flex-direction: column; */
	}

	.quiz .langT .motion_tag {
		/* position: relative; */
		/* color: white; */
	}

	.quiz .langT .lang_text {
		position: relative;
		font-size: 26px;
		color: white;
		text-align: center;
	}

	.danwon_Txt {
		position: relative;
		margin: 14px 0px 0px 0px;
		padding: 0 0 0 21px;
		text-align: center;
		letter-spacing: -1.7px;
	}

	.danwon_Txt h1 {
		margin: 0;
		color: #fff;
		font-size: 36px;
	}



	/* 단원 들어가기 start */
	.quiz[data-open="danwon_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/danwon_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .langD {
		position: relative;
		display: flex;
		top: -752px;
		left: 139px;
		width: 888px;
		height: 247px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.quiz .langD h1 {
		text-align: center;
	}

	.quiz .langD .motion_tag {
		position: relative;
		color: black;
		font-family: "SEBANG Gothic";
		font-size: 1.7em;
	}

	.quiz .langD .lang_text {
		position: relative;
		font-size: 26px;
		color: black;
		text-align: center;
	}

	.quiz .plane_mo {
		position: relative;
		top: -523px;
		left: 37px;
		width: 117px;
		height: 95px;
		background: url(../img/quiz/ganji/plane.png) no-repeat 0 0;
		animation: plane_start 1.2s ease-in-out, 1.5s plane_move 1.2s infinite;
	}

	.quiz .plane_shadow {
		position: relative;
		top: -515px;
		left: 32px;
		width: 122px;
		height: 85px;
		background: url(../img/quiz/ganji/plane_shadow.png) no-repeat 0 0;
		animation: plane_shadowstart 1.2s ease-in-out, 1.5s plane_shadowmove 1.2s infinite;
	}

	.quiz .travel_mo {
		position: relative;
		top: -326px;
		left: 869px;
		width: 276px;
		height: 231px;
		background: url(../img/quiz/ganji/travel.png) no-repeat 0 0;
		animation: travel_start 1.5s ease-in-out forwards;
	}

	.quiz .ticket_mo {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket.png) no-repeat 0 0;
		animation: ticket_start .8s ease-in-out forwards;
	}


	/* 단원 들어가기 모션 css */
	@keyframes plane_start {
		0% {
			transform: scale(1.2);
			left: -137px;
			top: -623px;
		}

		100% {
			transform: scale(1);
			left: 37px;
			top: -523px;
		}
	}

	@keyframes plane_move {
		0% {
			top: -523px;
		}

		50% {
			top: -515px;
		}

		100% {
			top: -523px;
		}
	}

	@keyframes plane_shadowstart {
		0% {
			left: -132px;
			top: -625px;
		}

		100% {
			left: 32px;
			top: -515px;
		}
	}

	@keyframes plane_shadowmove {
		0% {
			top: -515px;
		}

		50% {
			top: -520px;
		}

		100% {
			top: -515px;
		}
	}

	@keyframes travel_start {
		0% {
			transform: scale(1.2);
			left: 969px;
		}

		100% {
			transform: scale(1);
			left: 869px;
		}
	}

	@keyframes ticket_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}
}

/* 단원 학습목표 */
@media all {
	.quiz[data-open="danwon_point"] {
		position: relative;
		background: url(../img/quiz/ganji/danwon_point_Bg.png) no-repeat 0 0;
		background-size: cover;
	}

	.quiz .danwon_point_left {
		position: relative;
		top: 445px;
		left: -143px;
		width: 241px;
		height: 229px;
		background: url(../img/quiz/ganji/danwon_img01.png) no-repeat 0 0;
	}

	.quiz .danwon_point_right {
		position: relative;
		top: 162px;
		left: 920px;
		width: 349px;
		height: 305px;
		background: url(../img/quiz/ganji/danwon_img02.png) no-repeat 0 0;
	}

	.quiz .pointTxt {
		position: absolute;
		display: flex;
		padding: 0 0 0 93px;
		top: 255px;
		left: 154px;
		width: 828px;
		width: 975px;
		height: 364px;
		font-size: 26px;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
		line-height: 1;
	}

	.quiz .pointTxt ul {
		text-align: left;
	}

	.quiz .pointTxt ul li {
		position: relative;
		margin: 30px 0px 30px;
		/* padding-left: 65px;
		background: url(../img/quiz/ganji/bullet.png) no-repeat 0 0; */
	}


	.quiz .pointTxt ul li::before {
		display: inline-block;
		position: absolute;
		content: '';
		width: 39px;
		height: 38px;
		top: 0px;
		left: -50px;
		background: url(../img/quiz/ganji/bullet.png) no-repeat 0 0;
	}

	.quiz .pointTxt ul li .ko_point {
		margin: 0 0;
		font-size: 30px;
		color: white;
		height: 33px;
	}

	.lang_active .pointTxt ul li .ko_point {
		/* height:8px; */
		margin: 0 0;
	}

	.quiz .pointTxt .lang_text {
		position: relative;
		font-size: 22px;
		color: #4fd4ff;
	}

}

/* 차시 간지/들어가기/마무리 */
@media all {

	/* 차시간지 start */
	.quiz[data-open="chasi_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/chasi_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}
	.chasi_title{
		position: absolute;
		top: 0px;
		left: 127px;
		width: 278px;
		height: 141px;
	}
	.quiz .chasi_box_mo {
		position: relative;
		padding: 53px 40px 40px 20px;
		margin: 22px 0 0 60px;
		top: 0px;
		left: 0px;
		width: 1047px;
		height: 579px;
		background: url(../img/quiz/ganji/chasi_box.png) no-repeat 0 0;
		/* animation: left_start 1.5s ease-in-out forwards; */
	}

	.quiz .langC {
		position: relative;
		display: flex;
		top: -317px;
		left: 131px;
		width: 888px;
		height: 347px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.quiz .langC .lang_text {
		position: relative;
		font-size: 26px;
		color: black;
		text-align: center;
	}

	.quiz .langC .left_quotes {
		position: relative;
		width: 33px;
		height: 30px;
		background: url(../img/quiz/ganji/left_quotes.png) no-repeat 0 0;
		top: 13px;
		margin: 0 15px;
	}

	.quiz .langC .right_quotes {
		position: relative;
		width: 33px;
		height: 31px;
		background: url(../img/quiz/ganji/right_quotes.png) no-repeat 0 0;
		top: 13px;
		margin: 0 15px;
	}

	.chasi_Txt {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 2px 4px 2px 7px;
		height: 100px;
	}
	.chasi_Txt h1{
		margin: 0;
		color: #fff;
		line-height: 1.1;
		letter-spacing: -2px;
	}


	/* 듣고 말하기 들어가기 start */
	.quiz[data-open="listen_speak_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/listen_and_speak_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz[data-open="listen_speak_motion"] .ticket_mo2 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket7.png) no-repeat 0 0;
		animation: ticket2_start .8s ease-in-out forwards;
	}
	/* 듣고 말하기 들어가기 end */
	

	/* 차시 들어가기 start */
	.quiz[data-open="chasi_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/chasi_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .langCT {
		position: absolute;
		display: flex;
		top: 260px;
		left: 196px;
		width: 888px;
		height: 247px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.quiz .langCT h1 {
		text-align: center;
	}

	.quiz .langCT .motion_tag {
		position: relative;
		color: black;
		font-family: "SEBANG Gothic";
		font-size: 1.7em;
	}

	.quiz .langCT .lang_text {
		position: relative;
		font-size: 26px;
		color: black;
		text-align: center;
	}

	.quiz .plane_mo {
		position: relative;
		top: -523px;
		left: 37px;
		width: 117px;
		height: 95px;
		background: url(../img/quiz/ganji/plane.png) no-repeat 0 0;
		animation: plane_start 1.2s ease-in-out, 1.5s plane_move 1.2s infinite;
	}

	.quiz .plane_shadow {
		position: relative;
		top: -515px;
		left: 32px;
		width: 122px;
		height: 85px;
		background: url(../img/quiz/ganji/plane_shadow.png) no-repeat 0 0;
		animation: plane_shadowstart 1.2s ease-in-out, 1.5s plane_shadowmove 1.2s infinite;
	}

	.quiz .headphone_mo {
		position: relative;
		top: -336px;
		left: 949px;
		width: 185px;
		height: 241px;
		background: url(../img/quiz/ganji/headphone.png) no-repeat 0 0;
		animation: headphone_start 1.5s ease-in-out forwards;
	}

	.quiz .read_write_mo {
		position: relative;
		top: -266px;
		left: 870px;
		width: 248px;
		height: 181px;
		background: url(../img/quiz/ganji/read_write.png) no-repeat 0 0;
		animation: read_write_mo 1.5s ease-in-out forwards;
	}

	.quiz .ticket_mo2 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket2.png) no-repeat 0 0;
		animation: ticket2_start .8s ease-in-out forwards;
	}

	/* 단원 들어가기 모션 css */

	@keyframes read_write_mo {
		0% {
			transform: scale(1.2) translateX(50%);
		}

		100% {
			transform: scale(1) translateX(0%);
		}
	}

	@keyframes headphone_start {
		0% {
			transform: scale(1.2);
			left: 1049px;
		}

		100% {
			transform: scale(1);
			left: 949px;
		}
	}

	@keyframes ticket2_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}


	
	


	/* 차시 나가기 start */
	.quiz[data-open="out_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/out_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .langEND {
		position: relative;
		display: flex;
		top: -716px;
		left: 139px;
		width: 888px;
		height: 247px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.quiz .langEND h1 {
		text-align: center;
	}

	.quiz .langEND .motion_tag {
		position: relative;
		color: black;
		font-family: "SEBANG Gothic";
		font-size: 1.7em;
	}

	.quiz .langEND .lang_text {
		position: relative;
		font-size: 26px;
		color: black;
		text-align: center;
	}

	.quiz .ticket_mo3 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket3.png) no-repeat 0 0;
		animation: ticket3_start .8s ease-in-out forwards;
	}

	.quiz .note_mo {
		position: relative;
		top: -294px;
		left: 905px;
		width: 232px;
		height: 195px;
		background: url(../img/quiz/ganji/note.png) no-repeat 0 0;
		animation: note_start 1.5s ease-in-out forwards;
	}

	@keyframes ticket3_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}

	@keyframes note_start {
		0% {
			transform: scale(1.2);
			left: 1005px;
		}

		100% {
			transform: scale(1);
			left: 905px;
		}
	}
}

/* 차시 학습목표 */
@media all {
	.quiz[data-open="chasi_point"] {
		position: relative;
		background: url(../img/quiz/ganji/chasi_point_Bg.png) no-repeat 0 0;
		background-size: cover;
	}

	.quiz .chasi_pointTxt {
		position: absolute;
		display: flex;
		padding: 0 0 0 100px;
		top: 290px;
		left: 140px;
		width: 990px;
		height: 372px;
		font-size: 26px;
		align-items: center;
		justify-content: flex-start;
	}

	.quiz .chasi_pointTxt ul {
		text-align: left;
	}

	.quiz .chasi_pointTxt ul li {
		position: relative;
		margin: 30px 0px 30px;
	}
	.quiz .chasi_pointTxt ul li::before {
		display: inline-block;
		position: absolute;
		content: '';
		width: 34px;
		height: 34px;
		top: 0px;
		left: -50px;
		background: url(../img/quiz/ganji/bullet2.png) no-repeat 0 0;
	}

	.quiz .chasi_pointTxt ul li .ko_point {
		margin: 0 0;
		font-size: 30px;
		color: black;
		font-weight: 600;
	}

	.lang_active .chasi_pointTxt ul li .ko_point {
		margin: 0 0;
	}

	.quiz .chasi_pointTxt ul li .lang_text {
		position: relative;
		font-size: 22px;
		color: #636363;
		font-weight: 500;
	}

}



/* 문법 간지 */
@media all {
	.quiz[data-open="grammar_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/grammar_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .books_mo {
		position: relative;
		top: -302px;
		left: 870px;
		width: 254px;
		height: 206px;
		background: url(../img/quiz/ganji/books.png) no-repeat 0 0;
		animation: books_start 1.5s ease-in-out forwards;
	}

	.quiz .ticket_mo4 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket4.png) no-repeat 0 0;
		animation: ticket4_start .8s ease-in-out forwards;
	}

	@keyframes books_start {
		0% {
			transform: scale(1.2);
			left: 970px;
		}

		100% {
			transform: scale(1);
			left: 870px;
		}
	}

	@keyframes ticket4_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}
}



/* quiz motion형 관련 */
@media all {
	.motion_tag {
		opacity: 0;
	}

	.motion_tag.none {
		opacity: 1;
	}

	.motion_tag.slide_up {
		-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.motion_tag.slide_down {
		-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	.motion_tag.basic {
		-webkit-animation: basic 0.5s linear both;
		animation: basic 0.5s linear both;
	}

	/* .slide_up {
		animation: slide_up 0.5s linear 1;
	} */


}

/* quiz 선다형 관련 */
@media all {
	.quiz[data-Bg="c01"] {
		background: url(../img/quiz/choice/choice_bg_0.png) no-repeat 0 0;
		background-size: cover;
	}

	.quiz[data-Bg="c02"] {
		background: url(../img/quiz/choice/choice_Bg02.png) no-repeat 0 0;
		background-size: cover;
	}

	

	.selection {
		position: relative;
		margin: 11px 0 0 0;
		padding: 50px 50px;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		left: 50% !important;
		transform: translateX(-50%);
		width: calc(100% - 220px) !important;
		border-radius: 20px;
		background: rgba(46, 89, 155, 0.5);
	}

	.finished .selection button {
		pointer-events: none;
	}

	.selection button {
		/* position: relative;
		font-size: 30px;
		margin: 10px 0 0 0;
		padding: 25px 45px 25px 88px;
		text-align: left;
		border-radius: 15px;
		border: 3px solid #2e649b;
		background: #fff; */
		position: relative;
		font-size: 30px;
		margin: 0px 10px;
		left: 0px;
		min-width: 236px;
		min-height: 130px;
		line-height: 1.3;
		padding: 10px 5px 10px;
		border-radius: 15px;
		background: #fff;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px;
	}
	.selection button:hover,
	.selection button.check{
		color: #fff;
		background: #2c835e;
		box-shadow: rgba(0, 0, 0, 0.8) 0px 5px;
	}
	/* .selection[data-img="true"] button {
		padding: 10px 5px 0px 70px;
	} */
	
	
	.selection button::before {
		position: absolute;
		display: inline-block;
		content: "";
		top: 40px;
		left: 18px;
		width: 46px;
		height: 46px;
		text-align: center;
		transform: translateY(-50%);
		background: url(../img/quiz/choice/check_box.png) no-repeat 0 0;
	}
	.selection.green_border{
		flex-flow: row wrap;
		padding: 50px 25px 30px;
		justify-content: center;
	}
	.selection.green_border button{
		margin: 5px 5px 20px;
		padding: 10px 5px 15px;
		min-height: 80px;
		border: 4px solid #2c835e;
		border-radius: 25px;
	}
	.selection.green_border button::before{
		display: none;
	}

	

	.selection button:hover::before,
	.selection button.check::before,
	.selection button.active::before,
	.selection button.true::before {
		background-position-y: -46px;
	}

	/* .selection button.check.true::after {
		position: absolute;
		display: inline-block;
		content: '';
		top: 50%;
		left: -24px;
		width: 113px;
		height: 113px;
		transform: translateY(-50%);
		background: url(../img/quiz/ox.png) no-repeat 0 0;
	}
	.selection button.check.false::after {
		position: absolute;
		display: inline-block;
		content: '';
		top: 50%;
		left: -24px;
		width: 113px;
		height: 113px;
		transform: translateY(-50%);
		background: url(../img/quiz/ox.png) no-repeat 0 -113px;
	} */
	.selection button.false {
		opacity: 0.3;
	}

	element {
		color: #ffdc17;
	}
}





/* step 녹음 관련 */
@media all {
	.quiz[data-type="step_recorde"] {
		background: url(../img/quiz/recorde/step_bg.png) no-repeat 0 0;
	}

	.recorde_con {
		position: relative;
		margin: 20px auto 0;
		padding: 36px 10px 10px;
		width: 1060px;
		height: 517px;
		background: url(../img/quiz/recorde/note_bg.png) no-repeat 0 0;
	}

	.recorde_con .recorde_con_inner {
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 425px;
	}

	.quiz[data-type="step_recorde"] .recorde_con_inner .record_wrap_con {
		width: 100%;
		margin: 36px 0 0 0;
		padding: 0 10px 0 30px;
	}

	.quiz[data-type="step_recorde"] .recorde_con_inner .record_wrap_con .pop_open_btn {
		opacity: 0.5;
		pointer-events: none;
	}

	.quiz[data-type="step_recorde"] .recorde_con_inner .record_wrap_con[isListened="true"] .pop_open_btn {
		opacity: 1;
		pointer-events: all;
		animation: op5 2.0s linear 1;
	}

	.quiz[data-type="step_recorde"] .recorde_con_inner .record_wrap_con.active .listen_btn {
		animation: op5 2.0s linear 1;
	}
	
	.quiz[data-type="step_recorde"] .recorde_con_inner .record_wrap_con .record_wrap.left{
		justify-content: flex-start;
	}

	.record_wrap_con .recorde_inner {
		width: 100%;
	}

	.quiz[data-type="step_recorde"] .record_wrap {
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: flex-end;
		background: transparent;
	}

	.record_wrap .fung_sun {
		position: relative;
		margin: 5px 30px 5px 20px;
		width: auto;
		padding: 10px 30px 10px 30px;
		border-radius: 20px;
		background: #fff;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.23);
		min-height: 131px;
	}

	.record_wrap .fung_sun::before {
		position: absolute;
		display: inline-block;
		left: 100%;
		top: 50%;
		content: '';
		width: 33px;
		height: 28px;
		transform: translate(-23%, 40%);
		background: url(../img/quiz/recorde/tryangle_w.png) no-repeat 0 0;
	}

	.record_wrap .fung_sun.left::before {
		left: 0%;
		transform: translate(-83%, 20%) scaleX(-1);
	}

	.record_wrap .fung_sun {
		background: #ffd02d;
	}

	.record_wrap .fung_sun.left {
		background: #fff;
	}

	.record_wrap .fung_sun.left::before {
		background: url(../img/quiz/recorde/tryangle_w.png) no-repeat 0 0;
	}

	.record_wrap .fung_sun::before {
		background: url(../img/quiz/recorde/tryangle_y.png) no-repeat 0 0;
	}

	.record_wrap .pop_open_btn {
		position: relative;
		margin: 5px;
		width: 83px;
		min-width: 83px;
		height: 83px;
		background: url(../img/quiz/recorde/pop_open.png) no-repeat 0 0;
	}
	.record_wrap img{
		margin: 0 10px 0 10px;
	}
	.record_wrap p {
		text-align: left;
		margin: 0px 0px 0px 0px;
	}

	.txt_point {
		padding: 0px 4px 0px 4px;
	}
}



/* 도입 */
@media all {
	.quiz[data-open="main_in_motion"] {
		position: relative;
		background: url(../img/quiz/question/question_Bg.png) no-repeat 0 0;
		background-size: cover;
	}

}

/* 웹툰 */
@media all {
	.quiz[data-open="webtoon"] {
		position: relative;
		background: url(../img/quiz/webtoon/webtoon_Bg.png) no-repeat 0 0;
		background-size: cover;
	}
}

/* 음성인식 관련 */
@media all {
	.record_wrap_con .result_pop {
		position: fixed;
		padding: 0;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 0px;
		background: rgba(0, 0, 0, 0.5);
		overflow: hidden;
		transition: height 0.3s;
	}

	.record_wrap_con .result_pop.active {
		position: fixed;
		height: 100%;
		z-index: 1;
	}

	.record_wrap_con .result_pop .pop_outer {
		position: relative;
		padding: 80px 30px 30px 30px;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 50%;
		transform: translate(-50%, -50%);
		border-radius: 30px;
		border: 14px solid #fff;
		background: #866cd9;
		box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
	}

	.record_wrap_con .result_pop .pop_innner {
		position: relative;
		margin: 0 auto;
		padding: 0;
		top: 0px;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
	}

	.record_wrap_con .result_pop .pop_outer::before {
		display: inline-block;
		position: absolute;
		content: '';
		top: 17px;
		left: 50%;
		transform: translateX(-50%);
		width: 137px;
		height: 49px;
		background: url(../img/quiz/recorde/pop_before.png) no-repeat 0 0;
	}

	.record_wrap_con .result_pop .pop_innner::after {
		display: inline-block;
		position: absolute;
		content: '';
		top: 100%;
		left: 100%;
		transform: translate(-71%, -76%) scale(0.8);
		width: 337px;
		height: 215px;
	}

	.record_wrap_con .result_pop .pop_innner.try::after {
		background: url(../img/quiz/recorde/pop_feed_charter_0.png) no-repeat 0 0;
	}

	.record_wrap_con .result_pop .pop_innner.good::after {
		background: url(../img/quiz/recorde/pop_feed_charter_1.png) no-repeat 0 0;
	}

	.record_wrap_con .result_pop .pop_innner.great::after {
		background: url(../img/quiz/recorde/pop_feed_charter_2.png) no-repeat 0 0;
	}

	.record_wrap_con .result_pop .close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 33px;
		height: 33px;
		background: url(../img/quiz/close.png) no-repeat 0 0;
	}

	.record_wrap_con .result_pop .close:hover {
		transform: scale(1.1);
	}

	.record_wrap_con .score_box {
		color: #fff;
	}


	.record_wrap_con .txt_point,
	.record_wrap_con .focus {
		background-color: rgba(199, 244, 74);
	}

	.record_wrap_con .recorde_pop .txt_point,
	.record_wrap_con .recorde_pop .focus {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/* 카드 뒤집기 관련 */
@media all {
	.quiz[data-type="card_flip_game"] {
		background: url(../img/quiz/card/card_game_bg.png) no-repeat 0 0;
	}

	.quiz[data-type="card_flip"] {
		background: url(../img/quiz/card/card_Bg.png) no-repeat 0 0;
		background-size: cover;
	}

	.quiz[data-type="card_flip_game"] .cardGroup {
		position: fixed;
		width: 1000px;
		height: 478px;
		top: 200px;
		left: 140px;
	}

	.cardGroup {
		position: relative;
		width: 1125px;
		height: 690px;
		top: 0px;
		left: 0px;
		perspective: 1100px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: space-between;
	}

	.quiz[data-type="card_flip_game"] .card {
		width: 213px;
		height: 139px;
		margin: 10px;
	}

	.card {
		width: 653px;
		height: 376px;
		perspective: 1100px;
		position: relative;
		margin: 33px;
		transition: 0.4s;
		transform-style: preserve-3d;
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.15) 15px 15px;
	}

	.quiz[data-type="card_flip_game"] .card p {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 0px;
		text-align: center;
		transform: translateY(-50%);
		width: 100%;
		font-weight: 400;
		font-size: 30px;
		color: #fff;
	}

	.quiz[data-type="card_flip_game"] .card.on,
	.quiz[data-type="card_flip_game"] .card.comp {
		pointer-events: none;
	}

	.card.on,
	.card.comp {
		transform: rotateY(180deg);
		box-shadow: rgba(0, 0, 0, 0.15) -15px 15px;
	}

	.front,
	.back {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}

	.back {
		backface-visibility: hidden;
		transform: rotateY(180deg);
	}
}

/* 선긋기 관련 */
@media all {
	.quiz[data-type="linetoline"] {
		background: url(../img/quiz/drawline/drawline_bg_0.png) no-repeat 0 0;
		background-size: cover;
	}
	

	   
	.line_wrap_container {
		position: fixed;
		margin: 0px auto 0px;
		padding: 0px 0px;
		top: 0px;
		left: 0px;
		width: 100%;
		height: auto;
	}

	.line_container {
		position: fixed;
		margin: 0px;
		padding: 10px 0px;
		top: 0px;
		left: 0px;
		width: 100%;
		height: auto;
	}

	.event_dom {
		font-family: "Noto Sans KR";
		line-height: 1.4;
		z-index: 0;
	}

	.phaser_wrap canvas,
	.line_wrap canvas {
		position: relative;
		z-index: 1;
		pointer-events: none;
	}

	.phaser_wrap_body {
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 1.625rem;
		padding: 16px 46px 17px 43px;
		font-size: 1.53rem;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 15px;
		width: 1047px;
		height: 420px;
		margin: 2px 0px 0px 23px;
		margin: 0px;
		padding: 18px 36px;
		box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);

		display: flex;
		justify-content: space-between;
	}


	.phaser_wrap_body[direction="column"] {
		flex-flow: column;
		justify-content: space-between;
		padding: 18px 36px 32px;
	}
	.phaser_wrap_body[direction="column"] .line_wrap_box {
		flex-direction: row;
		justify-content: space-between;
	}

	.line_wrap_box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}


	.phaser_wrap {
		position: relative;
		display: flex;
		justify-content: center;
		top: 185px;
	}
	

	.line_wrap_box.finish {
		align-items: flex-end;
	}


	.line_wrap_box.start .line_box p{
		width: 380px;
		height: 100%;
		font-size: 30px;
		background: #5587e3;
		color: #fff;
		border-radius: 10px;
	}

	.line_wrap_box.start .text {
		line-height: 1.8;
		min-height: 70px;
	}

	.text {
		min-width: 360px;
		min-height: 70px;
		height: 70px;
	}

	.line_box .inner_box {
		border-radius: 10px;
	}

	.line_wrap_box.finish .text {
		line-height: 2.1;
	}

	

	

	.line_box {
		box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.2);
		position: relative;
		cursor: pointer;
	}

	.line_box .inner_box {
		background: #fff;
	}

	.line_box.start_click,
	.line_box.start_click {
		box-shadow: inset 0 0 0 2px #F44336;
	}

	.line_box.start_click::before,
	.line_box.start_click::before {
		background-color: #F44336;
	}

	.line_box.start_click.text,
	.line_box.start_click.text {
		background-color: #F44336;
		color: #fff;
	}

	/* .line_box.up,
	.line_box.left{
		cursor: auto;
	} */
	.line_box .blank_box{
		position: relative;
		display: inline-block;
		width: 37px;
		height: auto;
	}


	.text {
		font-weight: 600;
		min-width: 400px;
		height: 81px;
		min-height: 81px;
		border-radius: 20px;
		color: #000;
		padding: 6px 8px;
		flex: 0 0 auto;
		text-align: center;
		background-color: #dadada;
		border: 2px solid #000;
	}

	.phaser_wrap_body[direction="column"] .text {
		min-width: 220px;
		height: auto;
		/* line-height: 0; */
	}

	.line_box.text p {
		margin: 0;
		font-size: 30px;
	}

	.phaser_wrap_body[direction="column"] .line_box.text p {
		/* margin: 1em; */
	}

	.line_wrap_box.start .text {
		color: #fff;
		background-color: #4a76c6;
		/* border: 2px solid #000; */
		min-height: 81px;
		line-height: 2.1;
	}

	.line_box>* {
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.line_box::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: #000;
		border: 3px solid #fff;
		border-radius: 100%;
	}

	.line_box.left::before {
		left: -50px;
		top: calc(50% - 8px);
	}

	.line_box.right::before {
		right: -50px;
		top: calc(50% - 8px);
	}

	.line_box.up::before {
		left: calc(50% - 11px);
		top: calc(0% - 30px);
	}

	.line_box.down::before {
		left: calc(50% - 11px);
		top: calc(100% + 14px);
	}

	.line_box::after {
		content: attr(bullet);
		position: absolute;
		color: #2d2d2d;
		border-radius: 100%;
	}

	.line_box.left::after {
		left: -27px;
		top: 50%;
		transform: translateY(-50%);
	}

	.line_box.right::after {
		right: -27px;
		top: 50%;
		transform: translateY(-50%);
	}

	.line_box.up::after {
		left: 58px;
		top: -19%;
		transform: translateY(-50%);
	}

	.line_box.down::after {
		right: 125px;
		top: 112%;
		transform: translateY(-50%);
	}

	.quiz.finished .line_box {
		pointer-events: none;
		cursor: default;
	}

	.line_box.up {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

}




/* game_move */
@media all {
	.quiz[data-type="game_move"] {
		background: url(../img/quiz/game_move/game_move_bg.png) no-repeat 0 0;
	}

	.start_section {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 170px;
		left: 50%;
		transform: translateX(-50%);
		width: 84%;
		height: 480px;
		border-radius: 30px;
		border: 8px solid rgba(255, 255, 255, 0.75);
		background: rgba(0, 0, 0, 0.35);
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		z-index: 1;

	}

	.start_section .start_btn {
		width: 208px;
		height: 208px;
		background: url(../img/quiz/game_move/start_btn.png) no-repeat 0 0;
	}

	.start_section .start_btn:hover {
		transform: scale(1.1);
	}

	.score_board {
		position: absolute;
		padding: 0 10px 0 10px;
		top: 40px;
		left: 115px;
		width: auto;
		min-width: 170px;
		height: 50px;
		border-radius: 50px;
		background: rgba(96, 40, 36, 0.75);
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
	}

	.score_board .ox_panel {
		position: relative;
		margin: 0 3px;
		width: 30px;
		height: 30px;
		border-radius: 50px;
		background: #fff
	}

	.score_board img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
	}

	.score_board .ox_panel.true img:first-child {
		display: block;
	}

	.score_board .ox_panel.false img:last-child {
		display: block;
	}

	.score_board p {
		margin: -5px 10px 0 10px;
		font-weight: 700;
		font-size: 22px;
		color: #fff;
	}

	.game_move_container {}

	.game_move_container .game_step {
		text-align: center;
		width: 100%;
		height: 500px;
		opacity: 0;
	}

	.game_move_container .game_step.active {
		opacity: 1;
	}

	.game_step .step {
		display: none;
	}

	.game_step .step.active {
		display: block;
	}

	.game_step .step div {
		position: absolute;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		width: 124px;
		height: 92px;
		/* opacity: 0; */
		transform: translate(0px, 0px) scale(0.5);
		background: url(../img/quiz/game_move/blockage.png) no-repeat 0 0;
	}

	.game_step .step div.active {
		background-position-y: -92px;
	}

	.step div p {
		margin: -10px 0 0 0;
		font-size: 28px;
		color: #060606;
	}


	.step .left {
		top: 250px;
		left: 490px;
	}

	.step .center {
		top: 250px;
		left: 580px;
	}

	.step .right {
		top: 250px;
		left: 670px;
	}

	.step .left.block_move_left {
		animation-name: block_move_left;
	}

	.step .center.block_move_center {
		animation-name: block_move_center;
	}

	.step .right.block_move_right {
		animation-name: block_move_right;
	}

	.step .left.block_move_left,
	.step .center.block_move_center,
	.step .right.block_move_right {
		transform-origin: center;
		animation-duration: 5.0s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	@keyframes block_move_left {
		0% {
			transform: translate(0px, 0px) scale(0.5);
			opacity: 0.5;
		}

		25% {
			opacity: 1;
		}

		100% {
			transform: translate(-160px, 190px) scale(1.5);
		}
	}

	@keyframes block_move_center {
		0% {
			transform: translate(0px, 0px) scale(0.5);
			opacity: 0.5;
		}

		25% {
			opacity: 1;
		}

		100% {
			transform: translate(0px, 190px) scale(1.5);
		}
	}

	@keyframes block_move_right {
		0% {
			transform: translate(0px, 0px) scale(0.5);
			opacity: 0.5;
		}

		25% {
			opacity: 1;
		}

		100% {
			transform: translate(150px, 190px) scale(1.5);
		}
	}





	.character_wrap {
		position: absolute;
		top: 556px;
		left: 640px;
		transform: translateX(-50%);
		width: auto;
		height: auto;
	}

	.character_wrap.center {
		left: 640px;
	}

	.character_wrap.left {
		left: 310px;
	}

	.character_wrap.right {
		left: 960px;
	}

	/* .character_wrap.dis{
		display: none;
	} */


	.game_move_container .btns_wrap {
		position: absolute;
		top: 510px;
		left: 410px;
		width: 480px;
		height: 129px;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
	}

	.quiz[data-type="game_move"].finished .game_move_container .btns_wrap .l_btn {
		pointer-events: none;
	}

	.game_move_container .btns_wrap .l_btn {
		width: 198px;
		height: 126px;
		background: url(../img/quiz/game_move/l_btn.png) no-repeat 0 0;
	}

	.game_move_container .btns_wrap .l_btn:hover {
		transform: scale(1.1);
	}

	.quiz[data-type="game_move"].finished .game_move_container .btns_wrap .r_btn {
		pointer-events: none;
	}

	.game_move_container .btns_wrap .r_btn {
		width: 201px;
		height: 129px;
		background: url(../img/quiz/game_move/r_btn.png) no-repeat 0 0;
	}

	.game_move_container .btns_wrap .r_btn:hover {
		transform: scale(1.1);
	}


	.game_move_container .btns_wrap button.dispose {
		opacity: 0.5;
		pointer-events: none;
	}
}

/* 드래그 앤 드랍 관련 */
@media all {
	.quiz[data-bg="drag_bg_0"] {
		background:url(../img/quiz/drag_drop/drag_bg_0.png) no-repeat 0 0
	}
	.quiz[data-bg="drag_bg_1"] {
		background:url(../img/quiz/drag_drop/drag_bg_1.png) no-repeat 0 0
	}
	.drag_bogi_box{
		position: absolute;
		top: 215px;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 20px;
		width: 83%;
		height: auto;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
		background: rgba(255, 255, 255, 0.85);
		box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.13);
		z-index: 1;
	}
	.drag_con::before{
		display: none;
	}
	.drag_con .drag{
		margin: 0 20px;
	}

	.drag_feed_box{
		position: absolute;
		top: 340px;
		left: 50%;
		transform: translateX(-50%);
		width: 83%;
		height: auto;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: center;
		border-radius: 15px;
		border: 4px solid #315eab;
		background: #dfdfdf;
	}

	.drag_feed_box .feed_box_outer{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0 20px;
		width: 100%;
		min-height: 280px;
		border-radius: 15px;
		border: 4px solid #dfdfdf;
		background: rgba(255, 255, 255, 1);
	}
	.feed_box_outer .feed_box_inner {
		width: 100%;
	}
	.feed_box_outer .feed_box_inner > div{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
		padding: 20px 20px 20px 150px;
		border-bottom: 2px solid #9d9d9d;
	}
	.feed_box_outer .feed_box_inner:last-child > div {
		border: none;
	}

	.feed_box_inner > div p{
		font-size: 34px;
	}
	.feed_box_inner > div > img{
		
	}
	.feed_box_inner > div > *{
		margin: 0px 10px;
	}
	.feed_box_inner > div p.last{
		margin: 0px 0px 0px -10px;
	}
	

	.feed_box_inner .drop{
		position: relative;
	}
	.drop > img{
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
	}
	.drop > img.active{
		display: block;
	}
	.feed_box_inner > div > .exp > * {
		margin: 0px 10px;
	}
	.drop_con .exp{
		display: none;
	}
	.quiz.finished .drop_con .exp{
		position: relative;
		display: inline-block;
		z-index: 1;
	}
	.drop_con div[data-type="inner_exp"]{
		justify-content: center;
    	padding: 20px 20px 20px 20px;
	}
	.quiz.finished .drop_con .drop .exp{
		position: absolute;
		display: inline-block;
		z-index: 1;
		top: 0px;
		left: 0px;
	}
	.quiz.finished .drop_con div[data-type="inner_exp"] .drop > img {
		display: none;
	}
}


/* 입력형 보기들 */
@media all{
	.input_bogi_con{
		position: relative;
		padding: 40px 0px 0px 0px;
		width: 100%;
		/* height: 300px; */
		text-align: center;
		border-radius: 25px;
		border: 5px solid #926e43;
		background: #fff;
		overflow: hidden;
	}
	.input_bogi_con[data-before]::before{
		position: absolute;
		padding: 3px 30px 5px;
		top: 10px;
		left: 10px;
		content: attr(data-before);
		color: #404040;
		font-weight: 500;
		font-size: 22px;
		border-radius: 5px;
		background: #e1e1e1;
	}
	.input_bogi_con::before{
		display: none;
	}
	.top_con{
		display: inline-block;
	}
	.input_bogi_con table{
		font-size: 26px;
	}
	.input_bogi_con table th,
	.input_bogi_con table td{
		font-weight: 500;
		padding: 8px 20px 10px;
	}
	.input_bogi_con table th{
		color: #fff;
		min-width: 380px;
		background: #6a6a6a;
	}
	.input_bogi_con table td{
		color: #2c2c2c;
		background: #d4d4d4;
	}
	.plus_box,
	.plus_box div{
		position: relative;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
	}
	.plus_box{
		justify-content: space-around;
	}
	.plus_box div{
		margin: 10px;
	}
	.plus_box div img{
		margin: 0 10px 0;
	}
	.plus_box div p{
		margin: 0 auto;
		padding: 5px 20px 8px;
		font-size: 30px;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		color: #fff;
		border-radius: 6px;
		background: #926e43;
	}
	.bottom_con{
		margin: 20px 0 0 0;
		padding: 30px 0px 30px 0px;
		background: #e7e7e7;
	}
	.ex_box {
		position: relative;
		display: flex;
		margin: 0px auto 0px;
		padding: 12px 20px;
		width: 90%;
		font-size: 26px;
		font-weight: 500;
		color: #000;
		text-align: center;
		border-radius: 20px;
		border: 3px solid #9f9f9f;
		background: #fff;
		justify-content: center;
		align-items: center;
	}

	.ex_box p {
		margin: 0px;
	}
}
/* 문화 간지 */
@media all {
	.quiz[data-open="culture_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/culture_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .korea_mo {
		position: relative;
		top: -342px;
		left: 860px;
		width: 281px;
		height: 242px;
		background: url(../img/quiz/ganji/korea.png) no-repeat 0 0;
		animation: korea_start 1.5s ease-in-out forwards;
	}

	.quiz .ticket_mo6 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket6.png) no-repeat 0 0;
		animation: ticket6_start .8s ease-in-out forwards;
	}

	@keyframes korea_start {
		0% {
			transform: scale(1.2);
			left: 960px;
		}

		100% {
			transform: scale(1);
			left: 860px;
		}
	}

	@keyframes ticket6_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}

}




/* 어휘 간지 */
@media all {
	.quiz[data-open="vocabulary_in_motion"] {
		position: relative;
		background: url(../img/quiz/ganji/vocabulary_in_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

	.quiz .notebook_mo {
		position: relative;
		top: -342px;
		left: 870px;
		width: 280px;
		height: 231px;
		background: url(../img/quiz/ganji/notebook.png) no-repeat 0 0;
		animation: notebook_start 1.5s ease-in-out forwards;
	}

	.quiz .ticket_mo5 {
		position: relative;
		top: 53px;
		left: 82px;
		width: 1009px;
		height: 500px;
		background: url(../img/quiz/ganji/ticket5.png) no-repeat 0 0;
		animation: ticket5_start .8s ease-in-out forwards;
	}

	@keyframes notebook_start {
		0% {
			transform: scale(1.2);
			left: 970px;
		}

		100% {
			transform: scale(1);
			left: 870px;
		}
	}

	@keyframes ticket5_start {
		0% {
			transform: scale(1.03);
			top: 83px;
		}

		100% {
			transform: scale(1);
			top: 53px;
		}
	}

	.quiz[data-open="check_motion"] {
		position: relative;
		background: url(../img/quiz/check/check_Bg.png) no-repeat 0 0;
		background-size: cover;
		animation: bg_start 1s ease-in-out forwards;
	}

}

/* 클릭만 하는 학습활동 관련 */
@media all{
	.click_img_box_con{
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 400px;
	}
	.click_img_box_con .img_box{
		position: relative;
		margin: 10px 10px;
	}

	.click_img_box_con .img_box .bg{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}

	.click_img_box_con .btns_con{
		display: inline-block;
		position: absolute;
		width: 200px;
		min-width: 200px;
		height: 55px;
		font-weight: 600;
		font-size: 28px;
		color: #fff;
	}
	.click_img_box_con .btns_con button{
		position: absolute;
		margin: 0;
		padding: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		min-width: 100px;
		min-height: 47px;
		background: #fff;
		border: 4px solid #b7b7b7;
		border-radius: 50px;
		box-shadow: none;
		z-index: 1;
	}
	.click_img_box_con .btns_con button.check{
		display: none;
	}
	.click_img_box_con .btns_con button::before{
		position: absolute;
		display: inline-block;
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 42px;
		height: 39px;
		background: url(../img/quiz/question_mark.png) no-repeat 0 0;
		background-size: 42px 39px;
	}
	.click_img_box_con .btns_con p{
		position: absolute;
		margin: 0px;
		padding: 5px 5px 5px 5px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		width: 100%;
		height: 100%;
		border: 4px solid #fff;
		border-radius: 50px;
		background: #1e734f;
		box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.35);
	}
}
/* 익힘책 관련  */

@media all {
	.talk_drag {
		display: flex;
		flex-direction: column;
	}

	.talk_drag .drag {
		width: 100%;
		margin: 0px;
		height: auto;
	}

	.talk_drop {
		position: absolute;
		top: 480px;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: center;

		width: 1056px;
		height: 225px;
	}

	.talk_drop .talk_box_outer {
		border: 6px solid #fff;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 15px 15px 0px #3ca1ad;
	}
	.talk_drop .talk_box_outer .talk_box_inner{
		margin: 10px 0px 0px 10px;
		padding: 1% 3% 2% 2%;
		border-radius: 20px;
		width: 100%;
		background: url(../img/quiz/wb_bg/drag_box_bg_patten.png);
	}

	.talk_drop .wide {
		margin: 5px 0px;
		width: 100%;
	}

	.talk_drop .drop_wrap .drop {
		margin: 0;
		padding: 0;
		width: 990px;
		height: 80px;
	}


}