.audio-small-button {
  width: 50px;
  height: 50px;
  background-color: #eee;
  box-shadow: 1px 1px 1px 1px gray;
}

.audio-large-button {
  width: 100px;
  height: 100px;
  background-color: #eee;
  box-shadow: 3px 3px 3px 3px gray;
}

.audio-button-wrapper {
  position: relative;
  min-height: 100px;
}

.audio-button-wrapper > button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.record-button,
.stop-button,
.speaker-button,
.unspeakable-button {
  background-repeat: no-repeat;
  background-position: center;
}

.record-button {
  background-image: url(../assets/mic.svg);
  background-size: 50px;
}

.unspeakable-button {
  background-image: url(../assets/speaker.svg);
  background-size: 35px;
  background-blend-mode: soft-light;
}

.speaker-button {
  background-image: url(../assets/speaker.svg);
  background-size: 35px;
}

.stop-button {
  background-image: url(../assets/stop.png);
  background-size: 35px;
}
