* {
  font-family: "Nanum Gothic", sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
}

section {
  width: 100%;
  padding: 10px 25px;
  background-color: white;
}

button {
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ddd;
}

button:hover {
  background-color: #ddd;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lavender;
}

#example-image-wrapper,
#answer-wrapper,
#score-wrapper {
  padding: 10px;
}

#score-wrapper {
  font-size: 24px;
}

#score {
  border: 0;
}

.narration {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

.button-wrapper {
  padding: 10px;
}

.button-wrapper button:not(:first-child) {
  margin-left: 5px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.round-button {
  min-width: 30px;
  min-height: 30px;
  padding: 5px 5px;
  border-radius: 50%;
}

.round-button.on {
  background-color: mistyrose;
}

.cylinder-button {
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 500px;
}

.disp-none {
  display: none;
}

.canvas-wrapper {
  margin: 10px;
  touch-action: none;
}

#retry-answer-confirm-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.retry-confirm-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 15px;
  width: 350px;
  border-radius: 3px;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.retry-confirm-wrapper > *:not(:first-child) {
  margin-top: 15px;
}

.retry-confirm-wrapper button {
  margin: 5px;
}

.emphasize-box {
  background-color: mistyrose;
  min-width: 300px;
  height: 50px;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.vertical-kanban > *:not(:first-child) {
  margin-top: 25px;
}

input[type=checkbox],
label[for] {
  cursor: pointer;
}

.red {
  color: red;
}
