img {
    border: 0;
    outline: none;
}

/* 버튼 안눌림 해결 */
#fs-header {
    z-index: 10001 !important;
}



/* @keyframes blink {
    0% {color:#bb5400;}
    50% {color:blue}
}

@-webkit-keyframes blink {
    0% {color:#bb5400;}
    50% {color:blue}
} */

@keyframes rotateCoin {
    0%{
        transform: translate(-50%, -50%) rotateX(0deg);
      }
    100%{
        transform: translate(-50%, -50%) rotateX(360deg);
     }
}

@-webkit-keyframes rotateCoin {
    0%{
        transform: translate(-50%, -50%) rotateX(0deg);
      }
      100%{
        transform: translate(-50%, -50%) rotateX(360deg);
      }
}

/* @keyframes allMotion {
    0%{
        color:#bb5400;
        transform: translate(-50%, -50%) rotateX(0deg);
      }
    50%{color:blue}
    100%{
        transform: translate(-50%, -50%) rotateX(360deg);
     }
}

@-webkit-keyframes allMotion {
    0%{
        color:#bb5400;
        transform: translate(-50%, -50%) rotateX(0deg);
      }
    50%{color:blue}
    100%{
        transform: translate(-50%, -50%) rotateX(360deg);
     }
} */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .blinkEffect{
    animation: blink 0.5s step-end infinite;
    -webkit-animation: blink 0.5s step-end infinite;
} */
/* 
.rotateEffect{
    animation: rotate 0.5s linear infinite;
    -webkit-animation: rotate 0.5s linear infinite;
    transform-origin: 50% 50%;
    top: 50% !important;
    left: 148% !important;
} */
#totalCoinBox #totalCoin #speakingCoin .rotateEffect{
    animation: rotateCoin 2.55s linear infinite;
    -webkit-animation: rotateCoin 2.55s linear infinite;
    transform-origin: 50% 50%;
    top: 50%;
    left: 146%;
}
#totalCoinBox #totalCoin #readCoin .rotateEffect{
    animation: rotateCoin 2.55s linear infinite;
    -webkit-animation: rotateCoin 2.55s linear infinite;
    transform-origin: 50% 50%;
    top: 50%;
    left: 139%;
}
#totalCoinBox #totalCoin #listeningCoin .rotateEffect{
    animation: rotateCoin 2.55s linear infinite;
    -webkit-animation: rotateCoin 2.55s linear infinite;
    transform-origin: 50% 50%;
    top: 50%;
    left: 220%;
}

#totalCoinBox #totalCoin #writeCoin .rotateEffect{
    animation: rotateCoin 2.55s linear infinite;
    -webkit-animation: rotateCoin 2.55s linear infinite;
    transform-origin: 50% 50%;
    top: 50%;
    left: 148%;
}



.info {
    display: none;
    position: fixed;
    width: 1280px;
    height: 720px;
    top: 0;
    background-size: 1280px;
    background-repeat: no-repeat;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
}

.closeInfo {
    display: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: sticky;
    z-index: 9999;
    left: 1190px;
    top: 20px;
    background: url("/mr/common/css/img/contents/market/infoclose.png") no-repeat;
    background-size: 70px;
    border: 999;
}

.asiaPrice .price {
    width: 225px;
    text-align: right;
    font-family: 'yg-jalnan';
    color: #ff7891;
    font-size: 60px;
    padding-right: 30px;
}
.europePrice .price {
    width: 225px;
    text-align: right;
    font-family: 'yg-jalnan';
    color: #288cff;
    font-size: 60px;
    padding-right: 30px;
}
.americaPrice .price {
    width: 225px;
    text-align: right;
    font-family: 'yg-jalnan';
    color: #ffb62a;
    font-size: 60px;
    padding-right: 30px;
}
.afocePrice .price {
    width: 225px;
    text-align: right;
    font-family: 'yg-jalnan';
    color: #c18eff;
    font-size: 60px;
    padding-right: 30px;
}

.priceTab{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 1008px;
    height: 100px;
    left: 136px;
    bottom: 85px;
}
#coin {

    width: 100%;
    /* height:100px; */
    position: fixed;
}

#totalCoinBox {
    display: block;
    position: absolute;
    top: 17px;
    left: 700px;
    width: 357px;
    height: 81px;
}

#totalCoin {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("/mr/common/css/img/top/totalCoinBox.png") no-repeat;
    font-size: 18px;
}

#totalCoin div,
#totalCoin span {
    position: absolute;
}

#totalCoin span {
    font-family: 'yg-jalnan';
    color: #bb5400;
    text-align: right;
}

#totalCoin #allCoin .allC {
    font-size: 38px;
    top: 11px;
    left: 79px;
}

#totalCoin #speakingCoin {
    width: 33px;
    height: 21px;
    top: 15px;
    left: 180px;
    background: url("/mr/common/css/img/top/speakingCoin.png") no-repeat;
}

#totalCoin #speakingCoin .speakingC {
    width: 24px;
    top: -2px;
    left: 37px;
}

#totalCoin #readCoin {
    width: 47px;
    height: 21px;
    top: 15px;
    left: 252px;
    background: url("/mr/common/css/img/top/readCoin.png") no-repeat;
}

#totalCoin #readCoin .readC {
    width: 24px;
    top: -2px;
    left: 53px;
}

#totalCoin #listeningCoin {
    width: 19px;
    height: 23px;
    top: 40px;
    left: 188px;
    background: url("/mr/common/css/img/top/listeningCoin.png") no-repeat;
}

#totalCoin #listeningCoin .listeningC {
    width: 24px;
    top: -1px;
    left: 29px;
}

#totalCoin #writeCoin {
    width: 41px;
    height: 23px;
    top: 40px;
    left: 256px;
    background: url("/mr/common/css/img/top/writeCoin.png") no-repeat;
}

#totalCoin #writeCoin .writeC {
    width: 24px;
    top: -1px;
    left: 49px;
}



#TopMap {
    display: block;
    position: absolute;
    width: 91px;
    height: 108px;
    right: 21px;
    top: -5px;
    background: url("/mr/common/css/img/top/topMap.png") no-repeat;
    cursor: pointer;
}

.plusbtn {
    width: 34px;
    position: absolute;
    top: 21px;
    left: 155px;
    z-index: 11;
    cursor: pointer;
}

.pointGif {
    display: none;
    position: absolute;
    top: -17px;
    left: -700px;
    width: 1280px;
    z-index: 9999;
}

/* .flare02 {
    position: absolute;
    top: -17px;
    left: -700px;
    width: 1280px;
    z-index: 10;
    display: none;
}

.flare03 {
    position: absolute;
    top: -17px;
    left: -700px;
    width: 1280px;
    z-index: 10;
    display: none;
}

.flare04 {
    position: absolute;
    top: -17px;
    left: -700px;
    width: 1280px;
    z-index: 10;
    display: none;
} */

/* .coinFlare{
    position: absolute;
    width: 30px;
    top: 4px;
    left: 8px;
} */

.hiddenBlock{
    visibility: hidden;
}

#worldMap {

    display: none;
    position: absolute;
    width: 1282px;
    height: 720px;
    top: 0;
    /* background-size: 100%;
    background-repeat: no-repeat; */
    z-index: 9997;
    -ms-overflow-style: none;
    overflow: scroll;
    touch-action: pan-x, pan-y;
}

#worldMap::-webkit-scrollbar {
    display: none;
}

.worldMapImg {
    background: url("/mr/common/css/img/contents/market/worldMap.png") no-repeat;
    width: 1280px;
    height: 720px;
    background-size: 100%;
    max-width: 100%;
    z-index: 999;
    cursor: pointer;
    position: relative;
    z-index: 9979;
    transform-origin: 0 0;
    transform: scale(1);
}

.zoomIn {
    background: url("/mr/common/css/img/contents/market/zoomIn.png") no-repeat;
    width: 92px;
    height: 94px;
    cursor: pointer;
    position: fixed;
    left: 1190px;
    bottom: 400px;
    background-size: 85%;
    z-index: 9999;
}

.zoomOut {
    background: url("/mr/common/css/img/contents/market/zoomOut.png") no-repeat;
    width: 92px;
    height: 94px;
    cursor: pointer;
    position: fixed;
    left: 1190px;
    bottom: 300px;
    background-size: 85%;
    z-index: 9999;
}

.marketStart {
    width: 118px;
    height: 103px;
    cursor: pointer;
    position: fixed;
    left: 14px;
    bottom: 14px;
    background: url("/mr/common/css/img/contents/market/marketStart.png") no-repeat;
    background-size: 118px;
    border: 999;
    z-index: 9999;
}

.worldMapclose {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    z-index: 9997;
    left: 1190px;
    bottom: 630px;
    background: url("/mr/common/css/img/contents/market/infoclose.png") no-repeat;
    background-size: 70px;
    border: 999;
}

#market {
    background: url("/mr/common/css/img/contents/market/market_bg.png") no-repeat;
    display: none;
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    background-size: 1280px;
    background-repeat: no-repeat;
    z-index: 9989;
}

.infoclose {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    left: 1190px;
    top: 20px;
    background: url("/mr/common/css/img/contents/market/infoclose.png") no-repeat;
    background-size: 70px;
    border: 0;
}

.asiabtn {
    width: 178px;
    height: 61px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    left: 145px;
    top: 223px;
    background: url("/mr/common/css/img/contents/market/asiabtn.png") no-repeat;
    background-size: 178px;
}

.europebtn {
    width: 178px;
    height: 61px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    left: 332px;
    top: 223px;
    background: url("/mr/common/css/img/contents/market/europebtn.png") no-repeat;
    background-size: 178px;
}

.americabtn {
    width: 191px;
    height: 61px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    left: 518px;
    top: 223px;
    background: url("/mr/common/css/img/contents/market/americabtn.png") no-repeat;
    background-size: 191px;
}

.afocebtn {
    width: 418px;
    height: 61px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    left: 718px;
    top: 223px;
    background: url("/mr/common/css/img/contents/market/afocebtn.png") no-repeat;
    background-size: 418px;
}

#asiamarket {
    display: block;
}

#europemarket {
    display: none;
}

#americamarket {
    display: none;
}

#afocemarket {
    display: none;
}


.asiaSelect01img,
.asiaSelect05img,
.asiaSelect09img,
.europeSelect01img,
.europeSelect05img,
.europeSelect09img,
.americaSelect01img,
.americaSelect05img,
.americaSelect09img,
.afoceSelect01img,
.afoceSelect05img,
.afoceSelect09img {
    left: 121px;
    top: 279px;
}

.asiaSelect02img,
.asiaSelect06img,
.asiaSelect10img,
.europeSelect02img,
.europeSelect06img,
.europeSelect10img,
.americaSelect02img,
.americaSelect06img,
.americaSelect10img,
.afoceSelect02img,
.afoceSelect06img,
.afoceSelect10img {
    left: 374px;
    top: 279px;
}

.asiaSelect03img,
.asiaSelect07img,
.asiaSelect11img,
.europeSelect03img,
.europeSelect07img,
.americaSelect03img,
.americaSelect07img,
.afoceSelect03img,
.afoceSelect07img {
    left: 628px;
    top: 279px;
}

.asiaSelect04img,
.asiaSelect08img,
.asiaSelect12img,
.europeSelect04img,
.europeSelect08img,
.americaSelect04img,
.americaSelect08img,
.afoceSelect04img,
.afoceSelect08img {
    left: 881px;
    top: 279px;
}

.asiaSelect01img {
    background: url("/mr/common/css/img/contents/market/asia_01.png")
}

.asiaSelect02img {
    background: url("/mr/common/css/img/contents/market/asia_02.png")
}

.asiaSelect03img {
    background: url("/mr/common/css/img/contents/market/asia_03.png")
}

.asiaSelect04img {
    background: url("/mr/common/css/img/contents/market/asia_04.png")
}

.asiaSelect05img {
    background: url("/mr/common/css/img/contents/market/asia_05.png")
}

.asiaSelect06img {
    background: url("/mr/common/css/img/contents/market/asia_06.png")
}

.asiaSelect07img {
    background: url("/mr/common/css/img/contents/market/asia_07.png")
}

.asiaSelect08img {
    background: url("/mr/common/css/img/contents/market/asia_08.png")
}

.asiaSelect09img {
    background: url("/mr/common/css/img/contents/market/asia_09.png")
}

.asiaSelect10img {
    background: url("/mr/common/css/img/contents/market/asia_10.png")
}

.asiaSelect11img {
    background: url("/mr/common/css/img/contents/market/asia_11.png")
}

.asiaSelect12img {
    background: url("/mr/common/css/img/contents/market/asia_12.png")
}

.europeSelect01img {
    background: url("/mr/common/css/img/contents/market/europe_01.png")
}

.europeSelect02img {
    background: url("/mr/common/css/img/contents/market/europe_02.png")
}

.europeSelect03img {
    background: url("/mr/common/css/img/contents/market/europe_03.png")
}

.europeSelect04img {
    background: url("/mr/common/css/img/contents/market/europe_04.png")
}

.europeSelect05img {
    background: url("/mr/common/css/img/contents/market/europe_05.png")
}

.europeSelect06img {
    background: url("/mr/common/css/img/contents/market/europe_06.png")
}

.europeSelect07img {
    background: url("/mr/common/css/img/contents/market/europe_07.png")
}

.europeSelect08img {
    background: url("/mr/common/css/img/contents/market/europe_08.png")
}

.europeSelect09img {
    background: url("/mr/common/css/img/contents/market/europe_09.png")
}

.europeSelect10img {
    background: url("/mr/common/css/img/contents/market/europe_10.png")
}

.americaSelect01img {
    background: url("/mr/common/css/img/contents/market/america_01.png")
}

.americaSelect02img {
    background: url("/mr/common/css/img/contents/market/america_02.png")
}

.americaSelect03img {
    background: url("/mr/common/css/img/contents/market/america_03.png")
}

.americaSelect04img {
    background: url("/mr/common/css/img/contents/market/america_04.png")
}

.americaSelect05img {
    background: url("/mr/common/css/img/contents/market/america_05.png")
}

.americaSelect06img {
    background: url("/mr/common/css/img/contents/market/america_06.png")
}

.americaSelect07img {
    background: url("/mr/common/css/img/contents/market/america_07.png")
}

.americaSelect08img {
    background: url("/mr/common/css/img/contents/market/america_08.png")
}

.americaSelect09img {
    background: url("/mr/common/css/img/contents/market/america_09.png")
}

.americaSelect10img {
    background: url("/mr/common/css/img/contents/market/america_10.png")
}

.afoceSelect01img {
    background: url("/mr/common/css/img/contents/market/afoce_01.png")
}

.afoceSelect02img {
    background: url("/mr/common/css/img/contents/market/afoce_02.png")
}

.afoceSelect03img {
    background: url("/mr/common/css/img/contents/market/afoce_03.png")
}

.afoceSelect04img {
    background: url("/mr/common/css/img/contents/market/afoce_04.png")
}

.afoceSelect05img {
    background: url("/mr/common/css/img/contents/market/afoce_05.png")
}

.afoceSelect06img {
    background: url("/mr/common/css/img/contents/market/afoce_06.png")
}

.afoceSelect07img {
    background: url("/mr/common/css/img/contents/market/afoce_07.png")
}

.afoceSelect08img {
    background: url("/mr/common/css/img/contents/market/afoce_08.png")
}

.afoceSelect09img {
    background: url("/mr/common/css/img/contents/market/afoce_09.png")
}

.afoceSelect10img {
    background: url("/mr/common/css/img/contents/market/afoce_10.png")
}

#asiaSelect>div,
#europeSelect>div,
#americaSelect>div,
#afoceSelect>div {
    display: none;
}

.selectimg {
    width: 279px;
    height: 367px;
    position: absolute;
    cursor: pointer;
    background-size: 279px;
}

.selprev {
    width: 67px;
    height: 67px;
    cursor: pointer;
    position: absolute;
    left: 64px;
    top: 400px;
    background: url("/mr/common/css/img/contents/market/selprev.png");
    background-size: 67px;
    /* z-index: 1301; */
}

.selnext {
    width: 67px;
    height: 67px;
    cursor: pointer;
    position: absolute;
    right: 64px;
    top: 400px;
    background: url("/mr/common/css/img/contents/market/selnext.png");
    background-size: 67px;
    /* z-index: 1301; */
}

.selectinfo {
    display: none;
}

.asiaSelect01info,
.asiaSelect05info,
.asiaSelect09info,
.europeSelect01info,
.europeSelect05info,
.europeSelect09info,
.americaSelect01info,
.americaSelect05info,
.americaSelect09info,
.afoceSelect01info,
.afoceSelect05info,
.afoceSelect09info {
    width: 339px;
    height: 230px;
    background: url("/mr/common/css/img/contents/market/infobox.png");
    background-size: 339px;
    position: absolute;
    left: 75px;
    top: 346px;
    z-index: 1300;
}

.asiaSelect02info,
.asiaSelect06info,
.asiaSelect10info,
.europeSelect02info,
.europeSelect06info,
.europeSelect10info,
.americaSelect02info,
.americaSelect06info,
.americaSelect10info,
.afoceSelect02info,
.afoceSelect06info,
.afoceSelect10info {
    width: 339px;
    height: 230px;
    background: url("/mr/common/css/img/contents/market/infobox.png");
    background-size: 339px;
    position: absolute;
    left: 332px;
    top: 346px;
    z-index: 1300;
}

.asiaSelect03info,
.asiaSelect07info,
.asiaSelect11info,
.europeSelect03info,
.europeSelect07info,
.americaSelect03info,
.americaSelect07info,
.afoceSelect03info,
.afoceSelect07info {
    width: 339px;
    height: 230px;
    background: url("/mr/common/css/img/contents/market/infobox.png");
    background-size: 339px;
    position: absolute;
    left: 591px;
    top: 346px;
    z-index: 1300;
}

.asiaSelect04info,
.asiaSelect08info,
.asiaSelect12info,
.europeSelect04info,
.europeSelect08info,
.americaSelect04info,
.americaSelect08info,
.afoceSelect04info,
.afoceSelect08info {
    width: 339px;
    height: 230px;
    background: url("/mr/common/css/img/contents/market/infobox.png");
    background-size: 339px;
    position: absolute;
    left: 851px;
    top: 346px;
    z-index: 1300;
}

.selinfobuy1,
.selinfobuy2,
.selinfobuy3,
.selinfobuy4 {
    width: 253px;
    height: 89px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 44px;
    background: url("/mr/common/css/img/contents/market/buybtn.png");
    background-size: 254px;
}

div[name="selinfobtn1"],
[name="selinfobtn2"],
[name="selinfobtn3"],
[name="selinfobtn4"] {
    width: 253px;
    height: 89px;
    cursor: pointer;
    position: absolute;
    top: 116px;
    left: 44px;
    background: url("/mr/common/css/img/contents/market/infobtn.png");
    background-size: 254px;
}

.selinfoclose1,
.selinfoclose2,
.selinfoclose3,
.selinfoclose4 {
    width: 50px;
    height: 50px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    position: absolute;
    background: url("/mr/common/css/img/contents/market/infoclose.png");
    background-size: 50px;
}

/* 랜드마크 위치 값 #LMK040까지 있어야함*/

#LMK001 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 991px;
    top: 328px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK001.png) no-repeat;
    background-size: contain;
}

#LMK002 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 963px;
    top: 449px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK002.png) no-repeat;
    background-size: contain;
}

#LMK003 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 1014px;
    top: 398px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK003.png) no-repeat;
    background-size: contain;
}

#LMK004 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 791px;
    top: 273px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK004.png) no-repeat;
    background-size: contain;
}

#LMK005 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 854px;
    top: 323px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK005.png) no-repeat;
    background-size: contain;
}

#LMK006 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 1023px;
    top: 284px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK006.png) no-repeat;
    background-size: contain;
}

#LMK007 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 30px;
    left: 1065px;
    top: 291px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK007.png) no-repeat;
    background-size: contain;
}

#LMK008 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 917px;
    top: 360px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK008.png) no-repeat;
    background-size: contain;
}

#LMK009 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 937px;
    top: 376px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK009.png) no-repeat;
    background-size: contain;
}

#LMK010 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 959px;
    top: 387px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK010.png) no-repeat;
    background-size: contain;
}

#LMK011 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 597px;
    top: 265px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK011.png) no-repeat;
    background-size: contain;
}

#LMK012 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 637px;
    top: 265px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK012.png) no-repeat;
    background-size: contain;
}

#LMK013 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 722px;
    top: 265px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK013.png) no-repeat;
    background-size: contain;
}

#LMK014 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 590px;
    top: 219px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK014.png) no-repeat;
    background-size: contain;
}

#LMK015 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 791px;
    top: 209px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK015.png) no-repeat;
    background-size: contain;
}

#LMK016 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 671px;
    top: 280px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK016.png) no-repeat;
    background-size: contain;
}

#LMK017 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 695px;
    top: 269px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK017.png) no-repeat;
    background-size: contain;
}

#LMK018 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 671px;
    top: 235px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK018.png) no-repeat;
    background-size: contain;
}

#LMK019 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 645px;
    top: 219px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK019.png) no-repeat;
    background-size: contain;
}

#LMK020 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 45px;
    height: 31px;
    left: 561px;
    top: 277px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK020.png) no-repeat;
    background-size: contain;
}

#LMK021 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 306px;
    top: 341px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK021.png) no-repeat;
    background-size: contain;
}

#LMK022 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 345px;
    top: 255px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK022.png) no-repeat;
    background-size: contain;
}

#LMK023 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 345px;
    top: 482px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK023.png) no-repeat;
    background-size: contain;
}

#LMK024 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 311px;
    top: 260px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK024.png) no-repeat;
    background-size: contain;
}

#LMK025 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 332px;
    top: 451px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK025.png) no-repeat;
    background-size: contain;
}

#LMK026 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 441px;
    top: 504px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK026.png) no-repeat;
    background-size: contain;
}

#LMK027 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 359px;
    top: 449px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK027.png) no-repeat;
    background-size: contain;
}

#LMK028 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 283px;
    top: 349px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK028.png) no-repeat;
    background-size: contain;
}

#LMK029 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 383px;
    top: 437px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK029.png) no-repeat;
    background-size: contain;
}

#LMK030 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 374px;
    top: 475px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK030.png) no-repeat;
    background-size: contain;
}

#LMK031 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 564px;
    top: 320px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK031.png) no-repeat;
    background-size: contain;
}

#LMK032 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 1105px;
    top: 545px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK032.png) no-repeat;
    background-size: contain;
}

#LMK033 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 699px;
    top: 314px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK033.png) no-repeat;
    background-size: contain;
}

#LMK034 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 30px;
    left: 725px;
    top: 409px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK034.png) no-repeat;
    background-size: contain;
}

#LMK035 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 652px;
    top: 545px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK035.png) no-repeat;
    background-size: contain;
}

#LMK036 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 743px;
    top: 494px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK036.png) no-repeat;
    background-size: contain;
}

#LMK037 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 43px;
    height: 31px;
    left: 683px;
    top: 349px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK037.png) no-repeat;
    background-size: contain;
}

#LMK038 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 1174px;
    top: 591px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK038.png) no-repeat;
    background-size: contain;
}

#LMK039 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 692px;
    top: 442px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK039.png) no-repeat;
    background-size: contain;
}

#LMK040 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 712px;
    top: 463px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK040.png) no-repeat;
    background-size: contain;
}

#LMK041 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 925px;
    top: 295px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK041.png) no-repeat;
    background-size: contain;
}

#LMK042 {
    /* 추후 none으로 변경예정 */
    display: block;
    position: absolute;
    width: 44px;
    height: 31px;
    left: 940px;
    top: 340px;
    background: url(/mr/common/css/img/contents/market/landmark/LMK042.png) no-repeat;
    background-size: contain;
}

.buyFail {
    display: none;
    position:absolute;
    width: 1280px;
    height: 720px;
    background: url(/mr/common/css/img/contents/market/landmark/buyFail.png) no-repeat;
    background-size: 1280px 720px;
    z-index: 99999;
}

.buySuccess {
    display: none;
    position:absolute;
    width: 1280px;
    height: 720px;
    background: url(/mr/common/css/img/contents/market/landmark/buySuccess.png) no-repeat;
    background-size: 1280px 720px;
    z-index: 99999;
}

.buy_complet {
    display: none;
    position:absolute;
    width: 95px;
    height: 45px;
    background: url(/mr/common/css/img/contents/market/landmark/buy_complet.png) no-repeat;
    background-size: 95px 45px;
    left:50%;
    transform: translateX(-50%);
    top:453px;
    z-index: 100000;
}

/* passport */
#topPassport {
    display: block;
    position: absolute;
    width: 79px;
    height: 91px;
    right: 126px;
    top: 12px;
    background: url("/mr/common/css/img/top/topPassport.png") no-repeat;
    cursor: pointer;
}

#passport{   
    display: none;
    position: absolute;
    width: 1281px;
    height: 720px;
    top: -12px;
    /* left: -200px; */
    right: -128px;
    z-index: 9997;
    -ms-overflow-style: none;
    overflow: hidden;
    cursor: auto;
}
/* 배경부터 넣기 */
.passportImg{
    background: url("/mr/common/css/img/contents/passport/passport.png") no-repeat;
    width: 1280px;
    height: 720px;
    background-color: rgba(0,0,0,0.7);
    background-size: 1005px 658px;
    position: relative;
    z-index: 9979;
    transform: scale(1);
    background-position: center;
}

.closePassport{
    display: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    left: 1190px;
    top: 20px;
    background: url("/mr/common/css/img/contents/market/infoclose.png") no-repeat;
    background-size: 70px;
}

.stamp:nth-child(1){
     width: 182px;
    height: 190px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 130px;
    left: 255px;
    background-image: url("/mr/common/css/img/contents/passport/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(2){
    width: 216px;
    height: 193px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 270px;
    left: 400px;
    background-image: url("/mr/common/css/img/contents/passport/2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(3){
     width: 246px;
    height: 144px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 385px;
    left: 170px;
    background-image: url("/mr/common/css/img/contents/passport/3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(4){
     width: 237px;
    height: 180px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 460px;
    left: 405px;
    background-image: url("/mr/common/css/img/contents/passport/4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(5){
     width: 232px;
    height: 177px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 200px;
    left: 690px;
    background-image: url("/mr/common/css/img/contents/passport/5.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(6){
     width: 126px;
    height: 167px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 140px;
    left: 925px;
    background-image: url("/mr/common/css/img/contents/passport/6.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(7){
     width: 156px;
    height: 153px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 420px;
    left: 720px;
    background-image: url("/mr/common/css/img/contents/passport/7.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stamp:nth-child(8){
     width: 191px;
    height: 190px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 9999;
    top: 405px;
    left: 900px;
    background-image: url("/mr/common/css/img/contents/passport/8.png");
    background-size: 100%;
    background-repeat: no-repeat;
}