@import url(./NotoSansKR.css);
@import url(./sebang.css);

/* 공통 */
@media all {
	* {
		-moz-font-smoothing: antialiased;
		box-sizing: border-box;
	}

	*:focus {
		outline: none;
	}

	.tab *:focus {
		border: 2px dashed red !important;
	}

	.focus {
		color: #bb5400;
	}

	img {
		border: 0;
		line-height: 0;
	}


	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	a:hover {
		color: inherit;
		text-decoration: none;
	}

	a:visited,
	a:active,
	a:link {
		color: inherit;
		text-decoration: none;
	}
	p{
		margin: 0;
		padding: 0;
	}
	ol,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	button {
		font-family: "Noto Sans KR", sans-serif;
		font-weight: 600;
		overflow: visible;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border: 0;
		background: none;
	}

	html,
	body {
		font-family: "Noto Sans KR", sans-serif;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: -1px;
		width: 100%;
		height: 100%;
		color: #282828;
		background-color: transparent;
		word-break: keep-all;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	label {
		font-size: 0;
	}
	textarea{
		resize: none;
	}
	.ab {
		position: absolute !important;
	}


	.dispose {
		pointer-events: none;
	}

	.dispose2 {
		pointer-events: none;
		opacity: 0.5 !important;
	}

	.dispose3 {
		pointer-events: none;
		opacity: 0 !important;
	}

	.op5 {
		opacity: 0.5 !important;
	}
	ul,li{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.display_no {
		display: none !important;
	}

	.display_show {
		display: block !important;
	}

	.display_inline_show {
		display: inline-block !important;
	}

	.under_line{
		border-bottom: 1px solid #000;
	}

	.pre_con {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2000px;
		height: 2000px;
		/* background: #ffa323; */
		/* background: #30b57b; */
		background: #15023c;
		transform: scale(1) translate(-50%, -50%);
		transition: transform 0.4s;
		border-radius: 50%;
		z-index: 10000000;
		transform-origin: top left;
	}

	.pre_con.display_scale {
		transform: scale(0) translate(-50%, -50%);
	}

	.pre_con .pre_wrap {
		position: absolute;
		z-index: 100;
		width: 100px;
		height: 100px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		box-sizing: border-box;

		/* display: none; */
	}

	.pre_con .pre_wrap .pre_loader {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 10px solid rgba(230, 182, 23, .3);
		border-radius: 50%;
		border-top-color: #e6b617;
		animation: spin 1s ease-in-out infinite;
		-webkit-animation: spin 1s ease-in-out infinite;
		box-sizing: border-box;

	}
	.backg_white{
		background: #fff !important;
	}
	.backg_grey{
		background-color: gray !important;
	}
}

/* flex 선언부 관련 */
@media all{
	.flex_wrap{
		flex-wrap: wrap !important;
	}
	.flex_c_s_s{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.flex_c_s_c{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: center;
	}
	.flex_c_s_e{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-end;
	}
	.flex_c_c_s{
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: flex-start;
	}
	.flex_c_c_c{
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
	.flex_c_c_e{
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: flex-end;
	}
	.flex_c_e_s{
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.flex_c_e_c{
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		justify-content: center;
	}
	.flex_c_e_e{
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		justify-content: flex-end;
	}



	.flex_r_s_s{
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.flex_r_s_c{
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: center;
	}
	.flex_r_s_e{
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: flex-end;
	}
	.flex_r_c_s{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
	}
	.flex_r_c_c{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
	}
	.flex_r_c_e{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-end;
	}
	.flex_r_c_sa{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
	}
	.flex_r_s_sb{
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	.flex_r_c_sb{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
	}
	.flex_r_c_se{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-evenly;
	}
	.flex_r_e_s{
		display: flex;
		flex-flow: row;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.flex_r_e_c{
		display: flex;
		flex-flow: row;
		align-items: flex-end;
		justify-content: center;
	}
	.flex_r_e_e{
		display: flex;
		flex-flow: row;
		align-items: flex-end;
		justify-content: flex-end;
	}
}

/* quiz 공통 관련 */
@media all {
	.main {
		position: relative;
		width: 1280px;
		height: 720px;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0px;
		border: 0;
		opacity: 1;
		min-height: 720px;

		transform-origin: left top;
		background: #fff;
	}

	header .left img {
		position: relative;
		margin: 14px 0 0 14px;
	}

	.tab_con {
		/* display: none; */
		z-index: 999999;
		position: absolute;
	}

	.tabs_btn {
		margin: 0 2px 0 0;
	}

	.lang_active_wrap {
		position: absolute;
		top: 140px;
		right: 10px;
		width: 75px;
	}

	.lang_active_wrap .lang_snd_play_btn {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 123px;
		height: 123px;
		background: url(../img/common/bottom/speaker.png) no-repeat 0 0;
		transform: scale(0.6);
		transform-origin: top left;
	}

	.lang_active_wrap .lang_act_btn {
		position: absolute;
		top: 80px;
		left: 0px;
		width: 106px;
		height: 107px;
		background: url(../img/common/bottom/glocalization.png) no-repeat 0 0;
		transform: scale(0.69);
		transform-origin: top left;
	}

	.lang_active_wrap.active .lang_snd_play_btn {
		background: url(../img/common/bottom/speaker_red.png) no-repeat 0 0;
	}

	.lang_active_wrap.active .lang_act_btn {
		background: url(../img/common/bottom/glocalization_red.png) no-repeat 0 0;
	}

	.lang_text {
		font-family: "Noto Sans KR", sans-serif;
		margin: 5px 5px 5px 5px;
		font-weight: 500;
		font-size: 28px;
		color: #2a2a2a;
		letter-spacing: 0;
		display: none;
	}
	.question_lang_text{
		margin: 5px 0px 0px;
		width: calc(100% - 210px);
	}

	.lang_active .lang_text {
		display: block;
	}

	.quiz {
		font-family: "Noto Sans KR", sans-serif;
		font-size: 18px;
		font-weight: normal;
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0px auto 0;
		padding: 31px 80px 30px 83px;
		width: 1280px;
		height: 720px;
		line-height: 2rem;
		pointer-events: none;
		background: url(../img/quiz/choice/choice_bg.png) no-repeat 0 0;
	}

	.quiz[data-type="vod"] {
		padding: 0 0 0 0;
	}

	.quiz.active {
		display: flex;
		flex-flow: column;
		/* flex: 1 1 auto; */
		pointer-events: all;
	}
	section{
		position: relative;
		width: 1123px;
		height: 689px;
		min-height: 689px;
		background: url(../img/quiz/evaluation/note.png) no-repeat 0 0;
	}
	section::after{
		position: absolute;
		display: inline-block;
		content: '';
		top: -25px;
		left: 1010px;
		width: 44px;
		height: 65px;
		background: url(../img/quiz/evaluation/clrip.png) no-repeat 0 0;
		z-index: 1;
	}

	.question {
		position: relative;
		left: 40px;
		width: calc(100% - 100px);
		height: auto;
		display: flex;
		margin: 25px 0px 30px 0px;
		padding: 0px 0px 0px 0px;
		color: #fff;
		font-weight: 600;
		font-size: 30px;
		line-height: 2rem;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.lang_active .question {
		margin: 25px 0px 0px 0px;
	}

	.question .focus {
		color: #ff6600;
	}
	.question .num{
		position: absolute;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		padding: 6px 20px 8px;
		top: 0px;
		left: 0px;
		width: auto;
		min-width: 73px;
		min-height: 100%;
		line-height: 1;
		color: #fff;
		text-align: center;
		border-radius: 5px 0px 0px 5px;
		background: #709cdf;
	}
	.question p.question_box{
		flex-grow: 1;
		padding: 6px 15px 8px 90px;
		border-radius: 5px 5px 5px 5px;
		color: #2a2a2a;
		margin: 0px;
		background-color: #b9d5ff;
		overflow: hidden;
	}
	

	.quiz .question::before{
		position: absolute;
		display: inline-block;
		content: '';
		top: -36px;
		left: -21px;
		width: 114px;
		height: 108px;
		background: url(../img/quiz/ox.png) no-repeat 0 0;
		display: none;
		z-index: 1;
	}
	.quiz.true .question::before{
		display: inline-block;
	}
	.quiz.false .question::before{
		display: inline-block;
		background-position-y: -108px;
	}

	.sub_question {
		position: relative;
		display: flex;
		margin: 10px 0;
		padding: 12px 20px;
		min-height: 70px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 160px);
		font-size: 33px;
		font-weight: 500;
		color: #343434;
		text-align: center;
		line-height: 1.15;
		border-radius: 20px;
		border: 6px solid #6566cb;
		background: #fff;
		justify-content: center;
		align-items: center;
		box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.13);
	}

	.sub_question p {
		margin: 0px;
		text-align: left;
	}
	
	.quiz.lang_active .sub_question.longs {
		margin: 10px 0;
	}

	.quiz.lang_active .result_pop .sub_question.longs,
	.sub_question.longs{
		margin-top: 47px;
		height: auto;
		min-height: 120px;
		border: none;
		background: #e7f6a2;
		box-shadow: inset 0px 0px 23px 2px rgba(0, 0, 0, 0.15);
	}
	.quiz.lang_active .sub_question.shot {
		margin-top: 23px;
	}

	.quiz.lang_active .result_pop .sub_question.shot,
	.sub_question.shot{
		display: inline-block;
		margin: 30px 0 40px 0;
		padding: 30px 50px;
		width: auto;
		font-weight: 600;
		font-size: 36px;
		border: none;
		background: #9ed2ff;
		/* box-shadow: inset 0px 0px 23px 2px rgba(0, 0, 0, 0.15); */
	}
	.quiz.lang_active .sub_question.snd {
		margin-top: 23px;
	}
	.quiz.lang_active .result_pop .sub_question.snd,
	.sub_question.snd{
		margin-top: 60px;
		overflow: hidden;
		max-height: 90px;
		border: none;
		background: #6566cb;
		box-shadow: inset -5px -5px 0px 0px rgba(0, 0, 0, 0.3);
	}
}



/* 퀴즈별 해설창 */
@media all {
	.quiz_exp_wrap {
		position: absolute;
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: flex-start;
		bottom: -1px;
		left: 50%;
		height: auto;
		transform: translateX(-50%);
		width: calc(100% - 160px);
		line-height: 1.2;
		font-size: 1.25rem;
		padding: 20px 30px 20px 40px;
		flex: 0 0 calc(100%);
		border-radius: 12px 12px 0px 0px;
		border-left: 7px solid #feeeba;
		border-top: 7px solid #feeeba;
		background: #fcd966;
		box-shadow: 2px 7px 0px rgba(0, 0, 0, 0.8);
		display: none;
	}
	.quiz_exp_wrap::before{
		position: absolute;
		display: inline-block;
		content: '';
		top: 10px;
		left: -7px;
		width: 20px;
		height: 100%;
		background: url(../img/quiz/evaluation/exp_before.png) repeat-y 0 0;
	}

	.quiz.finished .quiz_exp_wrap {
		display: flex;
	}

	.quiz.finished[data-type="check"] .quiz_exp_wrap {
		position: relative;
		display: inline-block;
		top: 0%;
		left: 0%;
		height: auto;
		padding: 0;
		opacity: 1;
		overflow: visible;
		/* min-width: calc(104%); */
		min-height: 720px;
		background: rgba(0, 0, 0, 0.3);
		display: none;
	}

	.quiz.finished[data-type="check"] .quiz_exp_wrap.close {
		display: none;
	}

	.quiz_exp_wrap_exp,
	.quiz_exp_wrap_dap {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		/* flex: 1 1 auto; */
		margin: 1px 0 0px;
	}

	.quiz_exp_wrap_dap {
		width: 390px;
		min-width: 400px;
		max-width: 400px;
		padding: 0 0 0px 0;
	}
	.quiz_exp_wrap_exp{
		padding: 0 0 0 40px;
	}
	.quiz_exp_wrap_exp::before{
		position: absolute;
		display: inline-block;
		content: '';
		top: 0px;
		left: 0px;
		width: 2px;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		box-shadow: 2px 0px 0px #fff;
	}

	.quiz_exp_wrap_exp>div:nth-child(1),
	.quiz_exp_wrap_dap>div:nth-child(1) {
		position: relative;
		height: 40px;
		font-family: "Noto Sans KR", sans-serif;
		font-size: 29px;
		font-weight: 600;
		color: #fff;
		line-height: 1;
		letter-spacing: 0px;
		padding: 3px 26px 3px;
		border-radius: 50px;
		background: #606060;
	}

	.quiz_exp_wrap_exp>div:nth-child(1) span,
	.quiz_exp_wrap_dap>div:nth-child(1) span {
		position: relative;
		z-index: 1;
	}

	.quiz_exp_wrap_exp>div:nth-child(1)::before,
	.quiz_exp_wrap_dap>div:nth-child(1)::before {
		/* position: absolute;
		content: '';
		top: 9px;
		left: 0px;
		width: 100%;
		height: 20px;
		background: #f4c231; */
	}


	.quiz_exp_wrap_exp>div:nth-child(2) {
		margin: 0px 0 0 16px;
		padding: 4px 10px 0px 0px;
		font-weight: 700;
		font-size: 25px;
		min-height: 94px;
		max-height: 94px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.quiz_exp_wrap_dap>div:nth-child(2) {
		margin: 0px 0 0 16px;
		color: #282828;
		font-weight: 500;
		font-size: 25px;
		margin: 2px 0 0 16px;
		letter-spacing: -2px;
	}

	.quiz_exp_wrap_dap>div:nth-child(2) span {
		display: inline-block;
		padding: 0 2px 0 0;
		width: 40px;
		height: 40px;
		text-align: center;
		border: 3px solid #282828;
		border-radius: 50px;
	}
	.quiz[data-type="input"] .quiz_exp_wrap_dap>div:nth-child(2) span{
		width: auto;
		height: auto;
		border: none;
		border-radius: 0;
	}
	.quiz_exp_wrap_dap>div:nth-child(2) span:not(:first-child){
		margin: 0 0 0 5px;
	}

	.quiz_exp_wrap_exp>div:nth-child(1) {
		margin: 0px 0 0 0;
		/* color: #232323; */
	}

	.quiz_exp_wrap_exp>div p {
		margin: 16px 0px 0px;
	}
}

/* quiz 컨트롤 버튼 관련*/
@media all {
	.quiz .btns_wrap {
		position: absolute;
		bottom: 50px;
		right: 140px;
		width: auto;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-end;
		margin: 10px 0 0 0;
	}

	.quiz .btns_navi_wrap .next_btn {
		display: none;
	}

	.quiz.finished .btns_navi_wrap .next_btn {
		display: inline-block;
	}

	.quiz.finished .btns_wrap.hide,
	.quiz .btns_wrap.hide {
		display: none !important;
	}

	.quiz .btns_wrap button {
		position: relative;
		width: 87px;
		height: 87px;
	}

	.quiz .btns_wrap button:hover {
		transform: scale(1.1);
	}

	.quiz .btns_wrap .confirm_btn {
		background: url(../img/quiz/confirm.png) no-repeat 0 0;
	}

	.quiz .btns_wrap .reset_btn {
		background: url(../img/quiz/reset.png) no-repeat 0 0;
	}

	.quiz.is_quiz_first .navi_prev_btn {
		display: none;
	}

	.quiz .navi_prev_btn {
		position: absolute;
		top: 358px;
		left: 0px;
		background: url(../img/quiz/prev.png) no-repeat 0 0;
		width: 77px;
		height: 83px;
		display: none;
	}

	.quiz .navi_next_btn {
		position: absolute;
		top: 358px;
		right: 0px;
		background: url(../img/quiz/next.png) no-repeat 0 0;
		width: 77px;
		height: 83px;

		/* display: none; */
	}

	.quiz.finished .navi_next_btn {
		display: inline-block;
		animation: op5 3.0s linear infinite;
	}

	.quiz .navi_next_btn.result_btn{
		top: 480px;
		right: 0px;
		width: 269px;
		height: 102px;
		transform: scale(0.75);
		background: url(../img/quiz/result_btn.png) no-repeat 0 0;
	}
	.quiz .result_pop .result_btn {
		display: none;
	}

	.quiz .btns_wrap .outcome_btn {
		background: url(../img/quiz/result.png) no-repeat 0 0;
	}

	.quiz .btns_wrap .confirm_btn {
		display: block;
	}

	.quiz .btns_wrap .prev_btn,
	.quiz .btns_wrap .reset_btn,
	.quiz .btns_wrap .next_btn,
	.quiz .btns_wrap .outcome_btn {
		display: none;
	}

	.quiz.finished .btns_wrap .confirm_btn,
	.quiz.finished .btns_wrap .outcome_btn {
		display: none;
	}

	.quiz.finished .btns_wrap .next_btn {
		display: block;
	}

	.main.finished .quiz.finished .btns_wrap .next_btn {
		/* display: none; */
	}

	.main.finished .quiz.finished .btns_wrap .outcome_btn {
		display: block;
	}



}

/* 경고창 관련*/
@media all {

	.warning_message,
	.alert_message {
		position: absolute;
		z-index: 9999;
		padding: 4px 0 0 0;
		left: 0;
		top: 0px;
		right: 0;
		bottom: 0;
		/* max-width: 1280px; */
		/* background-color: transparent; */
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.warning_message_wrap {
		position: relative;
		width: 450px;
		height: 400px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 0px;
		transform: scale(0);
		min-width: 190px !important;
		min-height: 190px !important;
		transition: all 0.15s linear 0.2s;
	}

	.alert_message {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.alert_message_wrap {
		position: relative;
		width: auto;
		height: 100px;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		padding: 0px;
		transform: scale(0);
		min-width: 500px !important;
		min-height: 100px !important;
		transition: all 0.15s linear 0.2s;
		background: #ecb934;
		border-radius: 50px 0 0 50px;
	}

	.alert_message_wrap::after {
		position: absolute;
		display: inline-block;
		content: "";
		top: 0px;
		left: 100%;
		width: 50px;
		height: 100px;
		background: url(../img/common/alert_bg.png) no-repeat 0 0;
	}

	.warning_message_text,
	.alert_message_text {
		font-family: "Noto Sans KR", sans-serif;
		font-size: 36px;
		/* padding-bottom: 120px; */
		transition: all 0.25s;
		text-align: center;
		color: #fff;
		display: none;
	}

	.alert_message_text {
		font-size: 28px;
		color: #282828;
	}

	.warning_message_text::before,
	.alert_message_text::before {
		font-family: "SEBANG Gothic";
		color: #ff6600;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.25s;
	}

	.warning_message[data-type],
	.alert_message[data-type] {
		opacity: 1;
		pointer-events: all;
	}

	.warning_message[data-type] .warning_message_wrap,
	.alert_message[data-type] .alert_message_wrap {
		transform: scale(1);
	}

	.warning_message[data-type] .warning_message_wrap>div {
		position: absolute;
		top: 0px;
	}

	.alert_message[data-type] .alert_message_wrap>div {
		position: absolute;
		margin: -2px 0 0 0;
	}

	.warning_message[data-type] .warning_message_wrap>div::before {
		position: absolute;
		content: '';
		width: 450px;
		height: 400px;
	}

	.alert_message[data-type=top_move] .alert_message_wrap {
		min-width: 600px !important;
	}

	.warning_message[data-type=true] .warning_message_true {
		display: block;
	}

	.warning_message[data-type=false] .warning_message_false {
		top: 310px;
		display: block;
	}

	.warning_message[data-type=retry] .warning_message_retry {
		display: block;
	}

	.warning_message[data-type=blank] .warning_message_blank {
		display: block;
	}

	.warning_message[data-type=check] .warning_message_check {
		display: block;
	}

	.warning_message_true::before {
		background: url(../img/bg_alert_true.png) no-repeat 0 0;
	}

	.warning_message_blank::before {
		background: url(../img/bg_alert_blank.png) no-repeat 0 0;
	}

	.warning_message_check::before {
		background: url(../img/bg_alert_check.png) no-repeat 0 0;
	}

	.warning_message_false::before {
		background: url(../img/bg_alert_false.png) no-repeat 0 0;
	}

	.warning_message_retry::before {
		background: url(../img/bg_alert_retry.png) no-repeat 0 0;
	}

	.alert_message[data-type=network] .alert_message_network {
		display: block;
	}

	.alert_message[data-type=loading] .alert_message_loading {
		display: block;
	}
	.alert_message[data-type=local] .alert_message_local {
		display: block;
	}

	.alert_message[data-type=author] .alert_message_author {
		display: block;
	}

	.alert_message[data-type=error] .alert_message_error {
		display: block;
	}

	.alert_message[data-type=recorde_author] .alert_message_recorde_author {
		display: block;
	}
	.alert_message[data-type=blank] .alert_message_blank {
		display: block;
	}



}

/* 상단 공통 */
@media all {
	#common_container {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: none;
	}

	#common_container.active {
		display: block;
	}

	#common_btns {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 99;
	}
}

/* 설정 관련 */
@media all {
	.setting_open_btn {
		position: absolute;
		left: 16px;
		top: 18px;
		width: 71px;
		height: 71px;
		background: url(../img/common/setting/settingStartbtn.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	.settings_con {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		/* padding: 250px 360px 220px 590px; */
		padding: 0;
		display: none;
	}

	.settings_con.active {
		display: block;
	}

	.settings_board {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 140px 330px 115px 330px;
	}

	.board_inner {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.board_inner h2 {
		text-align: center;
		color: #fff;
		font-size: 30px;
		line-height: 1.2;
	}

	.board_inner .li {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
	}

	.board_inner .li>div:first-child {
		padding: 0 0 0 70px;
		width: 260px;
	}

	.board_inner .li>div:last-child {
		width: 280px;
	}

	.board_inner .li>div:first-child p {
		position: relative;
		font-size: 28px;
		color: #fff;
		text-align: left;
		margin: 20px auto 15px;
	}

	.board_inner .li>div:first-child p::before {
		position: absolute;
		top: -10px;
		left: -54px;
		width: 50px;
		height: 60px;
		content: '';
		background: url(../img/common/setting/icons_1.png) no-repeat 0 0;
		background-size: 50px;
	}

	.board_inner .li:nth-child(3)>div:first-child p::before {
		background: url(../img/common/setting/icons_2.png) no-repeat 0 0;
		background-size: 50px;
	}

	.board_inner .li:nth-child(4)>div:first-child p::before {
		background: url(../img/common/setting/icons_3.png) no-repeat 0 0;
		background-size: 50px;
	}

	.board_inner .li:nth-child(5)>div:first-child p::before {
		background: url(../img/common/setting/icons_4.png) no-repeat 0 0;
		background-size: 50px;
	}

	.board_inner .btn img {
		position: relative;
		width: 100%;
		height: auto;
	}

	.setbackground {
		position: absolute;
		top: 0;
		left: 0;
		width: 1280px;
		height: 720px;
		background-size: 1280px;
	}

	.settingclose {
		width: 245px;
	}

	.mic_test_btn {
		position: relative;
		width: 129px;
	}

	.board_inner .mic_test_btn.btn img {
		margin-top: 10px;
	}

	.language_choice_con {
		position: relative;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
	}

	.language_choice_con .btn {
		z-index: 1;
	}

	.language_prev {
		width: 23px;
	}

	.language_next {
		width: 23px;
	}

	.language_box {
		width: 234px;
	}

	.language_box img {
		position: relative;
		width: 100%;
		height: auto;
	}

	.language_box span {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		font-size: 28px;
		font-weight: 600;
		color: #000;
		letter-spacing: -3px;
		text-align: center;
	}

	.en_btn {
		display: block;
	}



	.backslidecontainer {
		position: relative;
		width: 303px;
		height: 33px;
	}

	.effectslidecontainer {
		position: relative;
		width: 303px;
		height: 33px;
	}




	.settings_board input[type=range] {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 30px;
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
		box-sizing: border-box;
		background-clip: padding-box;
		vertical-align: middle;
		outline: none;
		-webkit-appearance: none;
		cursor: pointer;
		opacity: 0.0;
	}

	.range_viewer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 30px;
	}

	.range_viewer .bg {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 100%;
		background-color: #a2a4bd;
		border-radius: 50px;
		line-height: 0;
		font-size: 0;
		transform: translateY(-50%);
		transition: 0.2s height;
	}

	.range_viewer .fill {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 0;
		background-color: #ffd851;
		border-radius: 50px;
	}

	.range_thumb {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 30px;
	}

	.range_thumb .thumb {
		position: absolute;
		z-index: 1;
		width: 34px;
		height: 34px;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}

	.range_thumb .thumb::before {
		z-index: 1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url(../img/common/setting/volume_circle.png) no-repeat 50% 50%;
	}

	.range_thumb .thumb::after {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0);
		background: url(../img/common/setting/volume_circle.png) no-repeat 50% 50%;
		transform-origin: center;
		transition: 0.3s transform;
	}


	.mic_test_pop {
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 130px 350px 140px 330px;
		width: 1280px;
		height: 720px;
		text-align: center;
		color: #fff;
		background-image: url(../img/common/setting/bg.png);
		background-position: -10px -10px;
		overflow: hidden;
		z-index: 1;

		display: none;
	}

	.mic_test_pop.active {
		display: block;
	}

	.mic_test_pop h2 {
		margin: 21px auto 0;
		padding: 0 0 0 1px;
		font-size: 32px;
	}

	.mic_test_pop p {
		margin: 36px auto 10px;
		font-size: 26px;
	}

	.mic_test_pop p.ex_text {
		margin: 5px auto 5px;
		font-size: 36px;
	}

	.canvas_con {
		padding: 0 20px;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.5);
	}

	.mic_test_pop ._btn {
		margin: 0 auto;
		background-image: url(../img/common/setting/micIcon.png);
		width: 92px;
		height: 92px;
		display: none;
	}

	.mic_test_pop ._btn.active {
		display: block;
	}

	._btn.ready {
		background-image: url(../img/common/setting/micIcon.png);
	}

	._btn.stop,
	._btn.pause {
		background-image: url(../img/common/setting/recording_stop.png);
	}

	._btn.listening {
		background-image: url(../img/common/setting/listening.png);
	}

	._close {
		display: block;
		margin: 0 auto;
		background-image: url(../img/common/setting/close.png);
		width: 129px;
		height: 54px;
	}
}

/* 전체화면보기 관련*/
@media all {

	.fullscreen_btn,
	.normalscreen_btn {
		position: absolute;
		top: 650px;
		left: 1210px;
		width: 80px;
		height: 80px;
		background: url(../img/common/bottom/full_btn.png) no-repeat 0 0;
		transform: scale(0.5);
	}

	.fullscreen_btn:hover {
		background-position-y: -80px;
	}

	.normalscreen_btn {
		background-position-x: -80px;
	}

	.normalscreen_btn:hover {
		background-position-y: -80px;
	}
}

/* 퀴즈별 BG 관련 */
@media all{
	.quiz{
		background: url(../img/quiz/evaluation/bg.png) no-repeat 0 0 , #b69a75;
	}
	.quiz[data-type="result"]{
		margin: 0px auto 0;
		padding: 20px 98px 30px 93px;
		background: url(../img/quiz/evaluation/result_bg.png) no-repeat 0 0 , #b69a75;
	}
}

