header {
  margin: 20px 0;
  padding: 20px 0px;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
}

div {
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
}