@font-face {font-family:'NanumGothic'; font-style: normal; font-weight:400; src: url('./NanumGothic.woff') format('woff');}
@font-face {font-family:'NanumGothic'; font-style:normal; font-weight:700; src:url('./NanumGothic-Bold.woff') format('woff'); }
@font-face {font-family:'scd9'; font-style:normal; font-weight: 700; src:url('./SCD9.woff') format('woff'); }

/* Reset */
html,body{width:100%;height:100%; background: url("./bg.png") #ddd;}
html{overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'NanumGothic','µ¸¿ò',dotum,Helvetica,sans-serif;font-size:11px;color: #333;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#333;text-decoration:none}
a:hover{color:#333; padding-bottom:2px; text-decoration:underline;} /*  */
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}

#container {
	width:100%;
	height:100%;
  position: absolute;
  z-index: 10;
}
#container .point_line {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #9A5B6C;
}
#container table {
	width: 90%;
  min-width: 700px;
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  border-spacing:0px;
}
#container table td {
  border-radius: 5px;
}
#container td.t_top {
  height: 80px;
  font-family: "scd9";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 45px 0;
  text-shadow: 3px 3px #eee;
  letter-spacing: -2px;
  color: #333;
  position: relative;
}
#container td.t_top div {
  width: 100%;
}
#container td.t_top div div {
  width: 10%;
  height: 20px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
}
#container td.bg_w {
/*  background: #fff;*/
  vertical-align: top;
/*  max-height: 680px;*/
  height: 80%;
}
#container td.bg_w:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
#container td.bg_w:nth-child(2) {
  border-radius: 0 5px 5px 0;
}

#container td li {
  font-size: 15px;
  font-weight: 700;
  background: #f9f9f9;
/*  border: #999 solid 1px;*/
  padding: 5px 5px 7px 5px;
  margin: 5px;
  z-index: 100;
}
#container td li:hover {
  background-color: #fff;
}
#container td li span {
  background: #9A5B6C;
  padding: 3px 5px 3px 5px;
  color: #fff;
  margin-right: 7px;
  border-radius: 5px;
  font-size: 12px;
}
#container td li span.off {
  background: #aaa;
}
#container td .tabs li {
  background: url("icon01.png") #eee 5px 50% no-repeat;
  border-radius: 5px;
  padding-left: 30px;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container td .tabs li:hover {
  background: url("icon01.png") #fff 5px 50% no-repeat;
  padding-left: 30px;
}
#container td .tabs li.active{
  background: url("icon01_off.png") #9A5B6C 5px 50% no-repeat;
/*  border: #000 solid 1px;*/
  border-right: none;
  color: #fff;
  padding-left: 33px;
}

#container td .tabs li.l2 {
  background: url("icon02.png") #eee 5px 50% no-repeat;
  border-radius: 5px;
  padding-left: 30px;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-left: 20px;
}
#container td .tabs li.l2:hover {
  background: url("icon02.png") #fff 5px 50% no-repeat;
  padding-left: 30px;
  font-size: 14px;
}
#container td .tabs li.l2.active{
  background: url("icon02_off.png") #9A5B6C 5px 50% no-repeat;
/*  border: #000 solid 1px;*/
  border-right: none;
  color: #fff;
  padding-left: 33px;
  font-size: 14px;
}

#board_contents_list, .tabs {
  height: 613px;
  overflow-y: auto;
  overflow-x: hidden;
}
#container td .board_contents li {
  border-radius: 5px;
  color: #aaa;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer {
  z-index: 1;
  width: 100%;
	position: absolute;
	bottom: 0px;
}
#copyright {
  height: 75px;
	width: 80%;
  min-width: 700px;
  max-width: 1200px;
  margin: 0 auto;
	text-align: left;
	background: url("logo.png") 0 21px no-repeat;
	font-size: 14px;
	color: #555;
}
#copyright p {
  padding:19px 0 11px 130px;
}