@import "/kb/ocr/common/common.css";
@import "/kb/ocr/common/font.css";
@import "/kb/ocr/common/audio.css";

.canvas-wrapper {
  margin: 0;
}

.red {
  color: red;
}

#copy-canvas-wrapper {
  position: absolute;
  z-index: -1;
}

#answer-wrapper {
  height: 160px;
}
